psvc:
  name: Микросервис по учёту корпоративных действий
  description: Микросервис сохраняет корпоративные действия в свою БД и в СОФР
  publishAPI: true

resources:
  limits:
    memory: "1Gi"
    cpu: "1"
  requests:
    memory: "500Mi"
    cpu: "500m"

env:
  LOGGING_LEVEL_RU_RSHBINTECH: info
  KAFKA_TOPIC_NOTIFICATION_FROM_DIASOFT: "dias.send-corp-actions-info-requests"
  KAFKA_TOPIC_NOTIFICATION_FROM_DIASOFT_DLQ: "dias.send-corp-actions-info-requests.dlq"
  KAFKA_TOPIC_INSTRUCTION_TO_DIASOFT: "dias.send-corp-actions-info-response"
  KAFKA_TOPIC_INTERNAL_NOTIFICATION: "internal.corp-actions.notification"
  KAFKA_TOPIC_INTERNAL_INSTRUCTION: "internal.corp-actions.instruction"
  KAFKA_TOPIC_INTERNAL_NOTIFICATION_OWNER_BALANCE: "internal.corp-actions.notification"
  KAFKA_GROUP_NOTIFICATION_FROM_DIASOFT: "COPORATE_ACTION_GROUP_NOTIFICATION_FROM_DIASOFT"
  KAFKA_GROUP_INTERNAL_NOTIFICATION: "COPORATE_ACTION_GROUP_INTERNAL_NOTIFICATION"
  KAFKA_GROUP_INTERNAL_NOTIFICATION_OWNER_BALANCE: "COPORATE_ACTION_GROUP_INTERNAL_NOTIFICATION_OWNER_BALANCE"
  KAFKA_GROUP_INTERNAL_INSTRUCTION: "COPORATE_ACTION_GROUP_INTERNAL_INSTRUCTION"
  KAFKA_BOOTSTRAP_SERVERS_NOTIFICATION_FROM_DIASOFT: "appfarm://kafka-bootstrap:myinvestment/peinvest-appfarm-kafka"
  KAFKA_BOOTSTRAP_SERVERS_INTERNAL_NOTIFICATION: "appfarm://kafka-bootstrap:myinvestment/peinvest-appfarm-kafka"
  KAFKA_BOOTSTRAP_SERVERS_INTERNAL_NOTIFICATION_PRODUCER: "appfarm://kafka-bootstrap:myinvestment/peinvest-appfarm-kafka"
  KAFKA_BOOTSTRAP_SERVERS_INTERNAL_NOTIFICATION_OWNER_BALANCE: "appfarm://kafka-bootstrap:myinvestment/peinvest-appfarm-kafka"
  KAFKA_BOOTSTRAP_SERVERS_INTERNAL_INSTRUCTION: "appfarm://kafka-bootstrap:myinvestment/peinvest-appfarm-kafka"
  KAFKA_BOOTSTRAP_SERVERS_INTERNAL_INSTRUCTION_PRODUCER: "appfarm://kafka-bootstrap:myinvestment/peinvest-appfarm-kafka"
  KAFKA_BOOTSTRAP_SERVERS_INSTRUCTION_TO_DIASOFT: "appfarm://kafka-bootstrap:myinvestment/peinvest-appfarm-kafka"
  APP_KAFKA_CONSUMER_CONCURRENCY: 3
  LOGGING_RSHB: INFO
  LOGGING_RSHBI_INTECH: INFO
  LOGGING_SPRING: INFO
  LOGGING_SQL: INFO
  LOGGING_SQL_BASIC_BINDER: INFO
  LOGGING_REPOSITORY: INFO

links:
  - targetProtocol: "KAFKA"
    targetInformationSystemId: "myinvestment"
    targetKafkaClusterId: "peinvest-appfarm-kafka"
    targetKafkaTopicName: "dias.send-corp-actions-info-requests"
    kafkaAdapterProperties:
      connectionMode: "consumer"
  - targetProtocol: "KAFKA"
    targetInformationSystemId: "myinvestment"
    targetKafkaClusterId: "peinvest-appfarm-kafka"
    targetKafkaTopicName: "internal.corp-actions.notification"
    kafkaAdapterProperties:
      connectionMode: "consumer"
  - targetProtocol: "KAFKA"
    targetInformationSystemId: "myinvestment"
    targetKafkaClusterId: "peinvest-appfarm-kafka"
    targetKafkaTopicName: "internal.corp-actions.instruction"
    kafkaAdapterProperties:
      connectionMode: "consumer"
  - targetProtocol: "KAFKA"
    targetInformationSystemId: "myinvestment"
    targetKafkaClusterId: "peinvest-appfarm-kafka"
    targetKafkaTopicName: "internal.corp-actions.notification.owner.balance"
    kafkaAdapterProperties:
      connectionMode: "consumer"
  - targetProtocol: "KAFKA"
    targetInformationSystemId: "myinvestment"
    targetKafkaClusterId: "peinvest-appfarm-kafka"
    targetKafkaTopicName: "internal.corp-actions.notification"
    kafkaAdapterProperties:
      connectionMode: "producer"
  - targetProtocol: "KAFKA"
    targetInformationSystemId: "myinvestment"
    targetKafkaClusterId: "peinvest-appfarm-kafka"
    targetKafkaTopicName: "internal.corp-actions.instruction"
    kafkaAdapterProperties:
      connectionMode: "producer"
  - targetProtocol: "KAFKA"
    targetInformationSystemId: "myinvestment"
    targetKafkaClusterId: "peinvest-appfarm-kafka"
    targetKafkaTopicName: "internal.corp-actions.notification.owner.balance"
    kafkaAdapterProperties:
      connectionMode: "producer"
  - targetProtocol: "KAFKA"
    targetInformationSystemId: "myinvestment"
    targetKafkaClusterId: "peinvest-appfarm-kafka"
    targetKafkaTopicName: "dias.send-corp-actions-info-requests.dlq"
    kafkaAdapterProperties:
      connectionMode: "producer"
  - targetProtocol: "KAFKA"
    targetInformationSystemId: "myinvestment"
    targetKafkaClusterId: "peinvest-appfarm-kafka"
    targetKafkaTopicName: "dias.send-corp-actions-info-response"
    kafkaAdapterProperties:
      connectionMode: "producer"

vaultSecretKeys:
  - APP_POSTGRESQL_USER
  - APP_POSTGRESQL_PASSWORD
