<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ru.rshbintech.rsbankws.proxy.dao.CondorSofrBufferTableDao">

    <select id="callCondorGetLastSofrSequenceDeal" statementType="CALLABLE">
        {
            call ${schema_name}.${condor_sofr_buffer_table_insert_stored_proc_name}
            (
                #{inParams.ReqType, mode=IN, jdbcType=VARCHAR},
                #{inParams.SeqType, mode=IN, jdbcType=VARCHAR},
                #{inParams.DealCode, mode=IN, jdbcType=VARCHAR},
                #{inParams.RequestId, mode=IN, jdbcType=VARCHAR},
                #{outParams.SeqId, mode=OUT, jdbcType=INTEGER},
                #{outParams.ErrorMessage, mode=OUT, jdbcType=VARCHAR}
            )
        }
    </select>

</mapper>
