psvc:
  name: Микросервис клиентских сделок на валютном рынке СОФР
  description: Микросервис сохраняет клиентские сделки валютного рынка в БД СОФР

resources:
  limits:
    memory: "1Gi"
    cpu: "1"
  requests:
    memory: "500Mi"
    cpu: "500m"

databases:
  - type: POSTGRESQL
    name:
    host:
    port:

env:
  LOGGING_LEVEL_RU_RSHBINTECH: info
  APP_KAFKA_BOOTSTRAP_SERVERS: "appfarm://kafka-bootstrap:myinvestment/peinvest-appfarm-kafka"

links:

  - targetProtocol: "KAFKA"
    targetInformationSystemId: "myinvestment"
    targetKafkaClusterId: "peinvest-appfarm-kafka"
    targetKafkaTopicName: "fx.trades.client"
    kafkaAdapterProperties:
      connectionMode: "consumer"

  - targetProtocol: "KAFKA"
    targetInformationSystemId: "myinvestment"
    targetKafkaClusterId: "peinvest-appfarm-kafka"
    targetKafkaTopicName: "fx.orders.client"
    kafkaAdapterProperties:
      connectionMode: "consumer"

  - targetProtocol: "KAFKA"
    targetInformationSystemId: "myinvestment"
    targetKafkaClusterId: "peinvest-appfarm-kafka"
    targetKafkaTopicName: "dlq"
    kafkaAdapterProperties:
      connectionMode: "producer"


