default:
  tags:
    - invest-advisor
  artifacts:
    expire_in: 3 days

include:
  - project: rshbintech/integrations/ckpr/ci-cd/base
    file: /flow/ci-cdl/custom/custom-artifacts.yml
    rules:
      - if: $CI_COMMIT_TAG =~ /^\d+\.\w+\.\d+$/
  - local: .merge-request-jobs.gitlab-ci.yml

variables: 
  HOSTS_NO_PROXY: localhost,rshb,gitlab-webservice.gitlab,.rshbdev.ru,.rshbintech.ru,.rshb.pro,docker,.go.rshbank.ru,.0,.1,.2,.3,.4,.5,.6,.7,.8,.9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,10.7.27.0/24,10.27.180.0/24,10.7.118.0/24,10.7.44.0/24,10.7.118.104,10.7.118.106,10.21.10.30

stages:
  - check_hash
  - devsecops_antivirus_scan
  - devsecops_init_dojo
  - devsecops_code_scan  
  - devsecops_sca_scan
  - devsecops_codebase_scan
  - devsecops_image_scan 
  - devsecops_container_scan
  - devsecops_artifact_scan
  - publish_artifact
  - publish_artifact_prod
  - upload-to-staged
  - update-the-checksum
  - approver-check
  - form-change-list
  - merge-request-checks
  - merge-request-merge
  # - merge-request-build

upload-to-staged:
  image: registry.rshbdev.ru/rshbintech/integrations/ckpr/infra/images/molecule:3.3.0-ansible.3.4.0.rshb.1.1.3
  stage: upload-to-staged
  script:
    - export ANSIBLE_FORCE_COLOR=True
    - rm -rf sofr-app-builder-repo
    - export no_proxy=$HOSTS_NO_PROXY
    - git clone --depth=1 -b stable-1.21 --single-branch https://gitlab-ci-token:${CI_JOB_TOKEN}@gitlab.rshbdev.ru/rshbintech/it-invest/backoffice/sofr/it_dev/sofr-app-builder.git sofr-app-builder-repo
    - cd sofr-app-builder-repo
    - ansible-playbook --inventory inventories/runner/hosts.yml --vault-password-file "$ANSIBLE_PASS" extract-and-public.yml --extra-vars "EXTRA_ARTIFACT_TAG_NAME=${ARTIFACT_TAG_NAME} EXTRA_CI_JOB_NAME=extract-and-public" -v
  only:
    variables:
      - $ARTIFACT_TAG_NAME =~ /^[\w\.]+$/ && $PROM =~ /^\s*true\s*$/i

update-the-checksum:
  image: registry.rshbdev.ru/rshbintech/integrations/ckpr/infra/images/molecule:3.3.0-ansible.3.4.0.rshb.1.1.3
  stage: update-the-checksum
  script:
    - export ANSIBLE_FORCE_COLOR=True
    - rm -rf sofr-app-builder-repo
    - export no_proxy=$HOSTS_NO_PROXY
    - git config --global --add safe.directory '*' # image trait
    - git clone --depth=1 -b stable-1.21 --single-branch https://gitlab-ci-token:${CI_JOB_TOKEN}@gitlab.rshbdev.ru/rshbintech/it-invest/backoffice/sofr/it_dev/sofr-app-builder.git sofr-app-builder-repo
    - cd sofr-app-builder-repo
    - ansible-playbook --inventory inventories/runner/hosts.yml --vault-password-file "$ANSIBLE_PASS" rehash-and-notify.yml --extra-vars "EXTRA_ARTIFACT_TAG_NAME=${ARTIFACT_TAG_NAME} EXTRA_CI_COMMIT_REF_NAME=${CI_COMMIT_REF_NAME} EXTRA_CI_PROJECT_DIR=${CI_PROJECT_DIR} EXTRA_CI_JOB_NAME=rehash-and-notify" -v
  only:
    variables:
      - $ARTIFACT_TAG_NAME =~ /^[\w\.]+$/ && $PROM =~ /^\s*true\s*$/i