default:
  tags:
    - invest-advisor
  artifacts:
    expire_in: 3 days


variables: 
  HOSTS_NO_PROXY: localhost,rshb,gitlab-webservice.gitlab,.rshbdev.ru,.rshbintech.ru,.rshb.pro,docker,.go.rshbank.ru,.0,.1,.2,.3,.4,.5,.6,.7,.8,.9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,10.7.27.0/24,10.27.180.0/24,10.7.118.0/24,10.7.44.0/24,10.7.118.104,10.7.118.106,10.21.10.30

# Проверка на аппрув от "лида"
approver-check:
  image: registry.rshbdev.ru/rshbintech/integrations/ckpr/infra/images/toolbox:0.2.0
  stage: .pre
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event' && $CI_MERGE_REQUEST_TARGET_BRANCH_NAME != 'develop' && $CI_MERGE_REQUEST_TARGET_BRANCH_NAME != 'master' && $CI_MERGE_REQUEST_TITLE !~ /^\[AUTOMERGER\]/
  allow_failure:
    exit_codes:
      - 2
  script:
    - bash .cicd2/approver-check.sh
    - cat $CI_PROJECT_DIR/is_approved.txt >> build.env
    - cat $CI_PROJECT_DIR/is_approved.txt
    - cat build.env
  artifacts:
    reports:
      dotenv: build.env
  
# Записываем список изменений в файл
form-change-list:
  image: registry.rshbdev.ru/rshbintech/integrations/ckpr/infra/images/toolbox:0.2.0
  stage: form-change-list
  dependencies:
    - approver-check
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event' && $CI_MERGE_REQUEST_TARGET_BRANCH_NAME != 'develop' && $CI_MERGE_REQUEST_TARGET_BRANCH_NAME != 'master' && $CI_MERGE_REQUEST_TITLE !~ /^\[AUTOMERGER\]/
  allow_failure:
    exit_codes:
      - 2
  artifacts:
    paths:
      - $CI_PROJECT_DIR/*.txt
    expire_in: 1 week
    when: always
  before_script:
    - if [[ $CHECK_APPROVE == 'pass' ]]; then exit 2; fi
  script:
    # - curl --fail --silent --show-error --header "PRIVATE-TOKEN:$SOFR_APP_READ_API_PERSONAL_TOKEN" "$CI_API_V4_URL/projects/$CI_PROJECT_ID/merge_requests/$CI_MERGE_REQUEST_IID/diffs?per_page=30" | jq --exit-status '.[] | select(.deleted_file == false) | .new_path' | tr -d '"' > changes.txt
    - curl --fail --silent --show-error --header "PRIVATE-TOKEN:$SOFR_APP_READ_API_PERSONAL_TOKEN" "$CI_API_V4_URL/projects/$CI_PROJECT_ID/merge_requests/$CI_MERGE_REQUEST_IID/diffs?per_page=30" | jq --exit-status '.[] | .new_path' | tr -d '"' > changes.txt
    - echo "CHECK_APPROVE=${CHECK_APPROVE}"

# Проверка связей в jira
jira-links-check:
  image: registry.rshbdev.ru/rshbintech/integrations/ckpr/infra/images/toolbox:0.2.0
  stage: merge-request-checks
  dependencies:
    - form-change-list
    - approver-check
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event' && $CI_MERGE_REQUEST_TARGET_BRANCH_NAME != 'develop' && $CI_MERGE_REQUEST_TARGET_BRANCH_NAME != 'master' && $CI_MERGE_REQUEST_TITLE !~ /^\[AUTOMERGER\]/
  allow_failure:
    exit_codes:
      - 2
  before_script:
    - if [[ $CHECK_APPROVE == 'pass' ]]; then exit 2; fi
  script:
    - export no_proxy=$HOSTS_NO_PROXY
    - bash .cicd2/merge-pipeline.sh
  variables:
    GIT_DEPTH: 1

# Проверка наличия неуместных изменений относительно целевой ветки
commits-check:
  image: registry.rshbdev.ru/rshbintech/integrations/ckpr/infra/images/toolbox:0.2.0
  stage: merge-request-checks
  dependencies:
    - form-change-list
    - approver-check
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event' && $CI_MERGE_REQUEST_TARGET_BRANCH_NAME != 'develop' && $CI_MERGE_REQUEST_TARGET_BRANCH_NAME != 'master' && $CI_MERGE_REQUEST_TITLE !~ /^\[AUTOMERGER\]/
  allow_failure:
    exit_codes:
      - 2
  artifacts:
    paths:
      - $CI_PROJECT_DIR/*.log
    expire_in: 1 week
    when: always
  before_script:
    - if [[ $CHECK_APPROVE == 'pass' ]]; then exit 2; fi
  script:
    - echo "CHECK_APPROVE=${CHECK_APPROVE}"
    # Проверяем, что нужные файлы на месте
    - if [ ! -f changes.txt ]; then echo "changes.txt not found!"; exit 1; fi
    - if [ ! -s changes.txt ]; then echo -e "\e[36mNo changes\e[0m"; exit 0; fi
    # Определяем имя подкаталога целевого релиза в sql/
    - releaseDir=$(echo $CI_MERGE_REQUEST_TARGET_BRANCH_NAME | awk -F '-' '{print $2}' | awk -F '\\.0' '{print $1}')
    - echo "Release dir = $releaseDir"
    # Ищем неуместные изменения
    - touch unacceptables.log
    - cat changes.txt | grep -iE "sql/[0-9]+/" | grep -iv "sql/$releaseDir/" > unacceptables.log || true;
    - cat changes.txt | grep -iE "payments/sql/[0-9]+/" | grep -iv "payments/sql/$releaseDir/" >> unacceptables.log || true;
    # Выход с уведомлением
    - if [ -s unacceptables.log ]; then echo -e "\e[31mERR\e[0m | Unacceptable changes found! \e[43mCheck unacceptables.log\e[0m"; exit 1; fi
  variables:
    GIT_DEPTH: 1

# Проверка наличия запрещенных выражений SQL
keywords-check:
  image: registry.rshbdev.ru/rshbintech/integrations/ckpr/infra/images/toolbox:0.2.0
  stage: merge-request-checks
  dependencies:
    - form-change-list
    - approver-check
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event' && $CI_MERGE_REQUEST_TARGET_BRANCH_NAME != 'develop' && $CI_MERGE_REQUEST_TARGET_BRANCH_NAME != 'master' && $CI_MERGE_REQUEST_TITLE !~ /^\[AUTOMERGER\]/
  allow_failure:
    exit_codes:
      - 2
  artifacts:
    paths:
      - $CI_PROJECT_DIR/*.log
    expire_in: 1 week
    when: always
  before_script:
    - if [[ $CHECK_APPROVE == 'pass' ]]; then exit 2; fi
  script:
    # Проверяем, что нужные файлы на месте
    - if [ ! -f changes.txt ]; then echo "changes.txt not found!"; exit 1; fi
    - if [ ! -s changes.txt ]; then echo -e "\e[36mNo changes\e[0m"; exit 0; fi
    # Определяем имя подкаталога целевого релиза в sql/
    - releaseDir=$(echo $CI_MERGE_REQUEST_TARGET_BRANCH_NAME | awk -F '-' '{print $2}' | awk -F '\\.0' '{print $1}')
    - echo "Release dir = $releaseDir"
    # Ищем запрещенные выражения
    - touch forbiddens.log
    - cat changes.txt | grep -i "sql/$releaseDir/.*\\.sql" > sql.txt || true;
    - if [ -s sql.txt ]; then while read file; do grep -inHE "([[:space:]][']?commit[[:space:]]*[;'])|(^commit;)" $file >> forbiddens.log || true; done < sql.txt; while read file; do grep -inHE "([[:space:]][']?rollback[[:space:]]*[;'])|(^rollback;)" $file >> forbiddens.log || true; done < sql.txt; while read file; do grep -inH "exception when others then null" $file >> forbiddens.log || true; done < sql.txt; else echo "No changes in sql/$releaseDir/*.sql"; fi
    # Выход с уведомлением
    - if [ -s forbiddens.log ]; then echo -e "\e[31mERR\e[0m | Forbidden statements found! \e[43mCheck forbiddens.log\e[0m" && cat forbiddens.log; exit 1; fi
  variables:
    GIT_DEPTH: 1

# Джоба для ветки develop
echo-job:
  image: registry.rshbdev.ru/rshbintech/integrations/ckpr/infra/images/toolbox:0.2.0
  stage: merge-request-checks
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event' && ($CI_MERGE_REQUEST_TARGET_BRANCH_NAME == 'develop' || $CI_MERGE_REQUEST_TARGET_BRANCH_NAME == 'master') && $CI_MERGE_REQUEST_TITLE !~ /^\[AUTOMERGER\]/
  script:
    - echo "DONE"

# Валидация каталога sql
liquibase-check:
  image: registry.rshbdev.ru/rshbintech/integrations/ckpr/infra/images/base/java/runtime/jre-legacy:11.0.21_9-jre-jammy-rshb.0.0.3
  stage: merge-request-checks
  dependencies:
    - approver-check
  before_script:
    - if [[ $CHECK_APPROVE == 'pass' ]]; then exit 2; fi
  script:
    - set -e
    - export no_proxy=$HOSTS_NO_PROXY
    - |
      rootpath=$(pwd)
      if [[ $CI_MERGE_REQUEST_SOURCE_BRANCH_NAME =~ pg || $CI_MERGE_REQUEST_TARGET_BRANCH_NAME =~ pg ]]
      then
        for dir in "payments_mb/sql" "payments_sec/sql" "rshb_sofr"
        do
          cd $dir/
          dirname=$(echo $dir | cut -d'/' -f1)
  
          echo 'changeLogFile=main-changelog.xml' > liquibase.properties
          echo 'liquibase.command.url=jdbc:postgresql://10.7.118.211:5432/rshb_sofr_check' >> liquibase.properties
          echo "liquibase.logLevel: debug" >> liquibase.properties
          echo "liquibase.logFile: liquibase.$dirname.validate.log" >> liquibase.properties
          
          if [[ "$dirname" == "payments_mb" ]]
          then
            echo "liquibase.command.username: ${CICD_VALIDATE_SCHEMA_PAYMENTS_USERNAME,,}" >> liquibase.properties
            echo "liquibase.command.password: ${CICD_VALIDATE_SCHEMA_PAYMENTS_PASSWORD^^}" >> liquibase.properties
          elif [[ "$dirname" == "payments_sec" ]]
          then
            echo "liquibase.command.username: ${CICD_VALIDATE_SCHEMA_PAYMENTS_SEC_USR_PASS,,}" >> liquibase.properties
            echo "liquibase.command.password: ${CICD_VALIDATE_SCHEMA_PAYMENTS_SEC_USR_PASS^^}" >> liquibase.properties
          elif [[ "$dirname" == "rshb_sofr" ]]
          then
            echo "liquibase.command.username: ${CICD_VALIDATE_SCHEMA_USERNAME_PG}" >> liquibase.properties
            echo "liquibase.command.password: ${CICD_VALIDATE_SCHEMA_PASSWORD_PG}" >> liquibase.properties
          fi
        
          $CI_PROJECT_DIR/.cicd2/files/liquibase validate
          cd $rootpath
        done
      else
        for dir in "payments/sql" "sql"
        do
          cd $dir/
          dirname=$(echo $dir | cut -d'/' -f1)
          
          echo 'changeLogFile=main-changelog.xml' > liquibase.properties
          echo 'liquibase.command.url=jdbc:oracle:thin:@//10.7.118.141:1521/sofr' >> liquibase.properties
          echo "liquibase.logLevel: debug" >> liquibase.properties
          echo "liquibase.logFile: liquibase.$dirname.validate.log" >> liquibase.properties
          
          if [[ "$dirname" == "payments" ]]
          then
            echo "liquibase.command.username: ${CICD_VALIDATE_SCHEMA_PAYMENTS_USERNAME}" >> liquibase.properties
            echo "liquibase.command.password: ${CICD_VALIDATE_SCHEMA_PAYMENTS_PASSWORD}" >> liquibase.properties
          else
            echo "liquibase.command.username: ${CICD_VALIDATE_SCHEMA_USERNAME}" >> liquibase.properties
            echo "liquibase.command.password: ${CICD_VALIDATE_SCHEMA_PASSWORD}" >> liquibase.properties
          fi
          
          $CI_PROJECT_DIR/.cicd2/files/liquibase validate
          cd $rootpath
        done
      fi
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event' && $CI_MERGE_REQUEST_TITLE !~ /^\[AUTOMERGER\]/
      changes:
        - sql/**/*
        - rshb_sofr/**/*
        - payments/sql/**/*
        - payments_mb/sql/**/*
        - payments_sec/sql/**/*
  allow_failure:
    exit_codes:
      - 2
  resource_group: group1
  artifacts:
    paths:
      # - $CI_PROJECT_DIR/*.log
      - $CI_PROJECT_DIR/sql/*.log
    expire_in: 1 week
    when: always

# Запрос на слияние
merge:
  image: registry.rshbdev.ru/rshbintech/integrations/ckpr/infra/images/toolbox:0.2.0
  stage: merge-request-merge
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event' && $CI_MERGE_REQUEST_TARGET_BRANCH_NAME != 'master' && $CI_MERGE_REQUEST_TITLE !~ /^\[AUTOMERGER\]/ && $CI_MERGE_REQUEST_TITLE !~ /^\[CICD\]/
  before_script:
    - TXT_RED="\e[31m"
    - TXT_YEL="\e[1;33m"
    - TXT_CLEAR="\e[0m"
    - bash .cicd2/check-stop-list.sh
  script:
    - export no_proxy=$HOSTS_NO_PROXY
    - json=$(curl --request GET --fail --silent --show-error --header "PRIVATE-TOKEN:$SOFR_APP_READ_API_PERSONAL_TOKEN" $CI_API_V4_URL/projects/$CI_PROJECT_ID/merge_requests/$CI_MERGE_REQUEST_IID)
    - detailed_merge_status=$(echo $json | jq --exit-status '.detailed_merge_status' | tr -d '"')
    - echo "detailed_merge_status = $detailed_merge_status";
    - if [[ $detailed_merge_status == "mergeable" ]] || [[ $detailed_merge_status == "ci_still_running" ]]; then is_merge_attempt="yes"; code=$(curl --request POST --silent --output /dev/null --write-out "%{http_code}" --form "token=${TRIGGER_TOKEN_TO_28630}" --form "ref=master" --form "variables[CI_PAYLOAD_MR_NUM]=$CI_MERGE_REQUEST_IID" --form "variables[CI_PAYLOAD_MR_SOURCE_BRANCH]=$CI_MERGE_REQUEST_SOURCE_BRANCH_NAME" --form "variables[CI_PAYLOAD_MR_TARGET_BRANCH]=$CI_MERGE_REQUEST_TARGET_BRANCH_NAME" --form "variables[CI_PAYLOAD_MR_TITLE]=$CI_MERGE_REQUEST_TITLE" $CI_API_V4_URL/projects/28630/trigger/pipeline); else echo -e "${TXT_RED}В текущем состоянии MR нельзя влить${TXT_CLEAR}"; is_merge_attempt="no"; exit 1; fi
    - if [[ $is_merge_attempt == "yes" ]]; then if [[ $code -eq 201 ]]; then echo -e "${TXT_YEL}Отправлен запрос на слияние в https://$CI_SERVER_HOST/projects/28630${TXT_CLEAR}"; else echo -e "${TXT_RED}Что-то пошло не так. Сервер ответил - $code${TXT_CLEAR}"; exit 1; fi; fi
  when: on_success
