psvc:
  publishAPI: false

databases:
  - type: POSTGRESQL
    name: rshb_sofr_future
    host: 10.7.118.211
    port: 5432


vaultSecretKeys:
  - APP_POSTGRESQL_USER
  - APP_POSTGRESQL_PASSWORD

env:
  APP_POSTGRESQL_HOST: 10.7.118.211
  APP_POSTGRESQL_PORT: 5432
  APP_POSTGRESQL_NAME: rshb_sofr_future
  DB_SCHEMA_NAME: "it_integration"
  APP_KAFKA_BOOTSTRAP_SERVERS_PLATFORM_MAKS_MAKS_KAFKA_MAIN: "appfarm://kafka-bootstrap:maks/maks-kafka-main"
  APP_KAFKA_BOOTSTRAP_SERVERS_PLATFORM_IPS_APPFARM_KAFKA: "appfarm://kafka-bootstrap:ips/appfarm-kafka"
  APP_KAFKA_BOOTSTRAP_SERVERS_PLATFORM_MYINVESTMENT_PEINVEST_APPFARM_KAFKA: "appfarm://kafka-bootstrap:myinvestment/peinvest-appfarm-kafka"

config:
  app:
    wait-msg-millis: 5000
    postgres:
      schema: ${DB_SCHEMA_NAME}
    kafka:
      consumers:
        - topic: "sofr.send-nontrading-order-answer"
          bootstrap-servers: "${APP_KAFKA_BOOTSTRAP_SERVERS_PLATFORM_IPS_APPFARM_KAFKA}"
          group-id: "sofr.send-nontrading-order-answer"
        - topic: "sofr.send-nontrading-order-status-request"
          bootstrap-servers: "${APP_KAFKA_BOOTSTRAP_SERVERS_PLATFORM_IPS_APPFARM_KAFKA}"
          group-id: "sofr.send-nontrading-order-status-request"
        - topic: "ips.document-factory.requests"
          bootstrap-servers: "${APP_KAFKA_BOOTSTRAP_SERVERS_PLATFORM_IPS_APPFARM_KAFKA}"
          group-id: "ips.document-factory.requests"
        - topic: "sofr.get-brokerage-agreement-info-response"
          bootstrap-servers: "${APP_KAFKA_BOOTSTRAP_SERVERS_PLATFORM_IPS_APPFARM_KAFKA}"
          group-id: "sofr.get-brokerage-agreement-info-response"
        - topic: "sofr.get-legal-entity-report-response"
          bootstrap-servers: "${APP_KAFKA_BOOTSTRAP_SERVERS_PLATFORM_IPS_APPFARM_KAFKA}"
          group-id: "sofr.get-legal-entity-report-response"
        - topic: "sofr.send-bill-request"
          bootstrap-servers: "${APP_KAFKA_BOOTSTRAP_SERVERS_PLATFORM_IPS_APPFARM_KAFKA}"
          group-id: "sofr.send-bill-request"
        - topic: "sofr.send-bill-deal-request"
          bootstrap-servers: "${APP_KAFKA_BOOTSTRAP_SERVERS_PLATFORM_IPS_APPFARM_KAFKA}"
          group-id: "sofr.send-bill-deal-request"
        - topic: "sofr.send-list-of-bonds-info"
          bootstrap-servers: "${APP_KAFKA_BOOTSTRAP_SERVERS_PLATFORM_MYINVESTMENT_PEINVEST_APPFARM_KAFKA}"
          group-id: "sofr.send-list-of-bonds-info"
        - topic: "sofr.mq-adapter.client-info"
          bootstrap-servers: "${APP_KAFKA_BOOTSTRAP_SERVERS_PLATFORM_MYINVESTMENT_PEINVEST_APPFARM_KAFKA}"
          group-id: "sofr.mq-adapter.client-info"
        - topic: "derivatives.requests.client.enriched.sofr.dlq"
          bootstrap-servers: "${APP_KAFKA_BOOTSTRAP_SERVERS_PLATFORM_MYINVESTMENT_PEINVEST_APPFARM_KAFKA}"
          group-id: "derivatives.requests.client.enriched.sofr.dlq"
        - topic: "derivatives.requests.bank.enriched.sofr.dlq"
          bootstrap-servers: "${APP_KAFKA_BOOTSTRAP_SERVERS_PLATFORM_MYINVESTMENT_PEINVEST_APPFARM_KAFKA}"
          group-id: "derivatives.requests.bank.enriched.sofr.dlq"
        - topic: "derivatives.deals.client.enriched.sofr.dlq"
          bootstrap-servers: "${APP_KAFKA_BOOTSTRAP_SERVERS_PLATFORM_MYINVESTMENT_PEINVEST_APPFARM_KAFKA}"
          group-id: "derivatives.deals.client.enriched.sofr.dlq"
        - topic: "derivatives.deals.bank.enriched.sofr.dlq"
          bootstrap-servers: "${APP_KAFKA_BOOTSTRAP_SERVERS_PLATFORM_MYINVESTMENT_PEINVEST_APPFARM_KAFKA}"
          group-id: "derivatives.deals.bank.enriched.sofr.dlq"
        - topic: "sofr.get-tax-report-info-response"
          bootstrap-servers: "${APP_KAFKA_BOOTSTRAP_SERVERS_PLATFORM_MYINVESTMENT_PEINVEST_APPFARM_KAFKA}"
          group-id: "sofr.get-tax-report-info-response"
        - topic: "ips.orchestration.update-process.sofr"
          bootstrap-servers: "${APP_KAFKA_BOOTSTRAP_SERVERS_PLATFORM_IPS_APPFARM_KAFKA}"
          group-id: "ips.orchestration.update-process.sofr"
        - topic: "sofr.send-le-brokerage-agreement-info-request"
          bootstrap-servers: "${APP_KAFKA_BOOTSTRAP_SERVERS_PLATFORM_MYINVESTMENT_PEINVEST_APPFARM_KAFKA}"
          group-id: "sofr.send-le-brokerage-agreement-info-request"
      producers:
        - topic: maks.transfer-rates.universal-json
          bootstrap-servers: "${APP_KAFKA_BOOTSTRAP_SERVERS_PLATFORM_MAKS_MAKS_KAFKA_MAIN}"
        - topic: sofr.get-legal-entity-report-request
          bootstrap-servers: "${APP_KAFKA_BOOTSTRAP_SERVERS_PLATFORM_IPS_APPFARM_KAFKA}"
        - topic: sofr.send-nontrading-order-request
          bootstrap-servers: "${APP_KAFKA_BOOTSTRAP_SERVERS_PLATFORM_IPS_APPFARM_KAFKA}"
        - topic: sofr.send-nontrading-order-status-answer
          bootstrap-servers: "${APP_KAFKA_BOOTSTRAP_SERVERS_PLATFORM_IPS_APPFARM_KAFKA}"
        - topic: sinv.get-brokerage-report-info-request
          bootstrap-servers: "${APP_KAFKA_BOOTSTRAP_SERVERS_PLATFORM_IPS_APPFARM_KAFKA}"
        - topic: sofr.get-brokerage-agreement-info-request
          bootstrap-servers: "${APP_KAFKA_BOOTSTRAP_SERVERS_PLATFORM_IPS_APPFARM_KAFKA}"
        - topic: ips.cft.send-promissory-notes-acc-list
          bootstrap-servers: "${APP_KAFKA_BOOTSTRAP_SERVERS_PLATFORM_IPS_APPFARM_KAFKA}"
        - topic: dias.send-depo-corp-actions-red-info-requests
          bootstrap-servers: "${APP_KAFKA_BOOTSTRAP_SERVERS_PLATFORM_MYINVESTMENT_PEINVEST_APPFARM_KAFKA}"
        - topic: sofr.get-tax-report-info-request
          bootstrap-servers: "${APP_KAFKA_BOOTSTRAP_SERVERS_PLATFORM_MYINVESTMENT_PEINVEST_APPFARM_KAFKA}"
        - topic: ips.orchestration.sofr.send-ba-terms-req
          bootstrap-servers: "${APP_KAFKA_BOOTSTRAP_SERVERS_PLATFORM_IPS_APPFARM_KAFKA}"

replicaCount: 1
strategyType: Recreate

links:
  - targetProtocol: "KAFKA"
    targetInformationSystemId: "ips"
    targetKafkaClusterId: "appfarm-kafka"
    targetKafkaTopicName: "sofr.get-legal-entity-report-request"
    kafkaAdapterProperties:
      connectionMode: "consumer"
  - targetProtocol: "KAFKA"
    targetInformationSystemId: "ips"
    targetKafkaClusterId: "appfarm-kafka"
    targetKafkaTopicName: "sofr.get-legal-entity-report-response"
    kafkaAdapterProperties:
      connectionMode: "producer"
  - targetProtocol: "KAFKA"
    targetInformationSystemId: "ips"
    targetKafkaClusterId: "appfarm-kafka"
    targetKafkaTopicName: "ips.send-accrued-coupon-income-info"
    kafkaAdapterProperties:
      connectionMode: "consumer"
  - targetProtocol: "KAFKA"
    targetInformationSystemId: "myinvestment"
    targetKafkaClusterId: "peinvest-appfarm-kafka"
    targetKafkaTopicName: "sofr-qmngr-mq-adapter-DLQ"
    kafkaAdapterProperties:
      connectionMode: "producer"
  - targetProtocol: "KAFKA"
    targetInformationSystemId: "myinvestment"
    targetKafkaClusterId: "peinvest-appfarm-kafka"
    targetKafkaTopicName: "ips.rudata-sinkable-nominal"
    kafkaAdapterProperties:
      connectionMode: "consumer"
  - targetProtocol: "KAFKA"
    targetInformationSystemId: "ips"
    targetKafkaClusterId: "cluster-1"
    targetKafkaTopicName: "ips.audit.messages"
    kafkaAdapterProperties:
      connectionMode: "producer"
  - targetProtocol: "KAFKA"
    targetInformationSystemId: "ips"
    targetKafkaClusterId: "cluster-1"
    targetKafkaTopicName: "ips.dias-sofr.ndfl"
    kafkaAdapterProperties:
      connectionMode: "consumer"
  - targetProtocol: "KAFKA"
    targetInformationSystemId: "ips"
    targetKafkaClusterId: "cluster-1"
    targetKafkaTopicName: "quik.limits.NewInstMon"
    kafkaAdapterProperties:
      connectionMode: "consumer"
  - targetProtocol: "KAFKA"
    targetInformationSystemId: "ips"
    targetKafkaClusterId: "cluster-1"
    targetKafkaTopicName: "diasoft.sofr.pko-info.req"
    kafkaAdapterProperties:
      connectionMode: "consumer"
  - targetProtocol: "KAFKA"
    targetInformationSystemId: "ips"
    targetKafkaClusterId: "cluster-1"
    targetKafkaTopicName: "diasoft.sofr.pko-info-status-result.req"
    kafkaAdapterProperties:
      connectionMode: "consumer"
  - targetProtocol: "KAFKA"
    targetInformationSystemId: "ips"
    targetKafkaClusterId: "cluster-1"
    targetKafkaTopicName: "ips.tss.sofr-qmngr-mq-adapter"
    kafkaAdapterProperties:
      connectionMode: "consumer"
  - targetProtocol: "KAFKA"
    targetInformationSystemId: "ips"
    targetKafkaClusterId: "cluster-1"
    targetKafkaTopicName: "sofr.limits.NewInstMon"
    kafkaAdapterProperties:
      connectionMode: "producer"
  - targetProtocol: "KAFKA"
    targetInformationSystemId: "ips"
    targetKafkaClusterId: "cluster-1"
    targetKafkaTopicName: "sofr.diasoft.pko-info.resp"
    kafkaAdapterProperties:
      connectionMode: "producer"
  - targetProtocol: "KAFKA"
    targetInformationSystemId: "ips"
    targetKafkaClusterId: "cluster-1"
    targetKafkaTopicName: "sofr.diasoft.pko-info-status.req"
    kafkaAdapterProperties:
      connectionMode: "producer"
  - targetProtocol: "KAFKA"
    targetInformationSystemId: "ips"
    targetKafkaClusterId: "cluster-1"
    targetKafkaTopicName: "diasoft.sofr.pko-info-status-result.req"
    kafkaAdapterProperties:
      connectionMode: "producer"
  - targetProtocol: "KAFKA"
    targetInformationSystemId: "maks"
    targetKafkaClusterId: "maks-kafka-main"
    targetKafkaTopicName: "maks.transfer-rates.universal-json"
    kafkaAdapterProperties:
      connectionMode: "consumer"
  - targetProtocol: "KAFKA"
    targetInformationSystemId: "ips"
    targetKafkaClusterId: "cluster-1"
    targetKafkaTopicName: "ips.efr-sofr.state-officer-sert"
    kafkaAdapterProperties:
      connectionMode: "consumer"
  - targetProtocol: "KAFKA"
    targetInformationSystemId: "ips"
    targetKafkaClusterId: "cluster-1"
    targetKafkaTopicName: "ips.sofr-efr.state-officer-sert"
    kafkaAdapterProperties:
      connectionMode: "producer"
  - targetProtocol: "KAFKA"
    targetInformationSystemId: "myinvestment"
    targetKafkaClusterId: "peinvest-appfarm-kafka"
    targetKafkaTopicName: "sofr.mq-adapter.client-info"
    kafkaAdapterProperties:
      connectionMode: "producer"
  - targetProtocol: "KAFKA"
    targetInformationSystemId: "ips"
    targetKafkaClusterId: "cluster-1"
    targetKafkaTopicName: "ips.dias-sofr.allocated-coupon"
    kafkaAdapterProperties:
      connectionMode: "consumer"
  - targetProtocol: "KAFKA"
    targetInformationSystemId: "ips"
    targetKafkaClusterId: "cluster-1"
    targetKafkaTopicName: "ips.sofr-dias.allocated-coupon"
    kafkaAdapterProperties:
      connectionMode: "producer"
  - targetProtocol: "KAFKA"
    targetInformationSystemId: "ips"
    targetKafkaClusterId: "cluster-1"
    targetKafkaTopicName: "ips.dias-sofr.depo-contract"
    kafkaAdapterProperties:
      connectionMode: "consumer"
  - targetProtocol: "KAFKA"
    targetInformationSystemId: "ips"
    targetKafkaClusterId: "cluster-1"
    targetKafkaTopicName: "ips.sofr-dias.broker-contract"
    kafkaAdapterProperties:
      connectionMode: "producer"
  - targetProtocol: "KAFKA"
    targetInformationSystemId: "ips"
    targetKafkaClusterId: "appfarm-kafka"
    targetKafkaTopicName: "sofr.send-nontrading-order-request"
    kafkaAdapterProperties:
      connectionMode: "consumer"
  - targetProtocol: "KAFKA"
    targetInformationSystemId: "ips"
    targetKafkaClusterId: "appfarm-kafka"
    targetKafkaTopicName: "sofr.send-nontrading-order-answer"
    kafkaAdapterProperties:
      connectionMode: "producer"
  - targetProtocol: "KAFKA"
    targetInformationSystemId: "ips"
    targetKafkaClusterId: "appfarm-kafka"
    targetKafkaTopicName: "sofr.send-nontrading-order-status-answer"
    kafkaAdapterProperties:
      connectionMode: "consumer"
  - targetProtocol: "KAFKA"
    targetInformationSystemId: "ips"
    targetKafkaClusterId: "appfarm-kafka"
    targetKafkaTopicName: "sofr.send-nontrading-order-status-request"
    kafkaAdapterProperties:
      connectionMode: "producer"
  - targetProtocol: "KAFKA"
    targetInformationSystemId: "ips"
    targetKafkaClusterId: "appfarm-kafka"
    targetKafkaTopicName: "sinv.get-brokerage-report-info-request"
    kafkaAdapterProperties:
      connectionMode: "consumer"
  - targetProtocol: "KAFKA"
    targetInformationSystemId: "ips"
    targetKafkaClusterId: "appfarm-kafka"
    targetKafkaTopicName: "ips.document-factory.requests"
    kafkaAdapterProperties:
      connectionMode: "producer"
  - targetProtocol: "KAFKA"
    targetInformationSystemId: "ips"
    targetKafkaClusterId: "appfarm-kafka"
    targetKafkaTopicName: "ips.document-factory.responses"
    kafkaAdapterProperties:
      connectionMode: "consumer"
  - targetProtocol: "KAFKA"
    targetInformationSystemId: "ips"
    targetKafkaClusterId: "appfarm-kafka"
    targetKafkaTopicName: "sofr.get-brokerage-agreement-info-request"
    kafkaAdapterProperties:
      connectionMode: "consumer"
  - targetProtocol: "KAFKA"
    targetInformationSystemId: "ips"
    targetKafkaClusterId: "appfarm-kafka"
    targetKafkaTopicName: "sofr.get-brokerage-agreement-info-response"
    kafkaAdapterProperties:
      connectionMode: "producer"
  - targetProtocol: "KAFKA"
    targetInformationSystemId: "ips"
    targetKafkaClusterId: "appfarm-kafka"
    targetKafkaTopicName: "sofr.send-bill-request"
    kafkaAdapterProperties:
      connectionMode: "producer"
  - targetProtocol: "KAFKA"
    targetInformationSystemId: "ips"
    targetKafkaClusterId: "appfarm-kafka"
    targetKafkaTopicName: "sofr.send-bill-deal-request"
    kafkaAdapterProperties:
      connectionMode: "producer"
  - targetProtocol: "KAFKA"
    targetInformationSystemId: "ips"
    targetKafkaClusterId: "cluster-1"
    targetKafkaTopicName: "sofr.send-nontrading-order-info-request"
    kafkaAdapterProperties:
      connectionMode: "producer"
  - targetProtocol: "KAFKA"
    targetInformationSystemId: "ips"
    targetKafkaClusterId: "appfarm-kafka"
    targetKafkaTopicName: "ips.cft.send-promissory-notes-acc-list"
    kafkaAdapterProperties:
      connectionMode: "consumer"
  - targetProtocol: "KAFKA"
    targetInformationSystemId: "myinvestment"
    targetKafkaClusterId: "peinvest-appfarm-kafka"
    targetKafkaTopicName: "sofr.send-list-of-bonds-info"
    kafkaAdapterProperties:
      connectionMode: "producer"
  - targetProtocol: "KAFKA"
    targetInformationSystemId: "myinvestment"
    targetKafkaClusterId: "peinvest-appfarm-kafka"
    targetKafkaTopicName: "dias.send-depo-corp-actions-red-info-requests"
    kafkaAdapterProperties:
      connectionMode: "consumer"
  - targetProtocol: "KAFKA"
    targetInformationSystemId: "myinvestment"
    targetKafkaClusterId: "peinvest-appfarm-kafka"
    targetKafkaTopicName: "sofr.get-tax-report-info-request"
    kafkaAdapterProperties:
      connectionMode: "consumer"
  - targetProtocol: "KAFKA"
    targetInformationSystemId: "myinvestment"
    targetKafkaClusterId: "peinvest-appfarm-kafka"
    targetKafkaTopicName: "sofr.get-tax-report-info-response"
    kafkaAdapterProperties:
      connectionMode: "producer"
  - targetProtocol: "KAFKA"
    targetInformationSystemId: "ips"
    targetKafkaClusterId: "appfarm-kafka"
    targetKafkaTopicName: "ips.orchestration.sofr.send-ba-terms-req"
    kafkaAdapterProperties:
      connectionMode: "consumer"
  - targetProtocol: "KAFKA"
    targetInformationSystemId: "ips"
    targetKafkaClusterId: "appfarm-kafka"
    targetKafkaTopicName: "ips.orchestration.update-process.sofr"
    kafkaAdapterProperties:
      connectionMode: "producer"
  - targetProtocol: "KAFKA"
    targetInformationSystemId: "myinvestment"
    targetKafkaClusterId: "peinvest-appfarm-kafka"
    targetKafkaTopicName: "sofr.send-le-brokerage-agreement-info-request"
    kafkaAdapterProperties:
      connectionMode: "producer"