databases:
  - type: POSTGRESQL
    name: fx_client_trades_db
    host: 10.7.118.211
    port: 5432

vaultSecretKeys:
  - APP_ORACLE_USER
  - APP_ORACLE_PASSWORD

env:
  LOGGING_LEVEL_RU_RSHBINTECH: DEBUG

