# Настройки подключения к БД

# Хост БД Oracle
APP_ORACLE_HOST: {{ STAND.ORACLE.HOST }}
# Порт БД Oracle
APP_ORACLE_PORT: {{ STAND.ORACLE.PORT }}
# Пользователь БД Oracle
APP_ORACLE_USER: {{ SECRETS_RSBANKWS_PROXY_USERNAME }}
# Пароль пользователя БД Oracle
APP_ORACLE_PASSWORD: {{ SECRETS_RSBANKWS_PROXY_PASSWORD }}
# SID БД Oracle
APP_ORACLE_NAME: {{ STAND.ORACLE.SERVICE_NAME }}
# Схема БД Oracle
APP_ORACLE_SCHEMA: {{ STAND.ORACLE.USERNAME }}

# Настройки логирования

# Корневой уровень логирования
LOGGING_LEVEL_ROOT: INFO
# Требуется ли вести логи в формате _JSON_ для _ELK_: **true** - если требуется, **false** - если нет
LOGGING_LOGSTASH_ENABLED: false

# Уровень логирования запросов и ответов к прокси сервису, а так же к сервису RSBankWS
logging:
  level:
    ru.rshbintech.rsbankws.proxy.service.error: INFO

# Настройки приложения

app:
  rs-bank-ws-proxy:
    # URI прокси-сервиса
    uri: /ws/RSBankWS.asmx
    # Нужно ли проксировать все запросы, которые поступают на сервис независимо от настроек быстрого ответа
    proxy-all-requests: false
  rs-bank-ws-client:
    # URL для обращения к сервису RSBankWS
    url: http://127.0.0.1:1434/RSHB_SOFR_CONDOR/ws/RSBankWS.asmx
    # Таймаут подключения к сервису RSBankWS в секундах
    connect-timeout: 3
    # Таймаут ожидания ответа от сервиса RSBankWS в секундах
    read-timeout: 60
    # Количество одновременно открытых сетевых соединений, которые могут быть доступны в клиенте RSBankWS
    max-connections: 10000
  fast-answer:
    # Список методов, для которых нужно формировать "быстрый" ответ
    methods: RunMacro.ws_ProcessDeals.ProcessDeals
    # Список правил (для формирования "быстрого" ответа) для различных типов сделок
    deal-rules:
      CurrencyDeal:
        # Тип сделки: по валюте (CASH); по ценным бумагам (SECURITIES)
        seqType: CASH
    # Наименование хранимой процедуры, генерирующей ID и записывающей данные в буферную таблицу
    condor-sofr-buffer-table-insert-stored-proc-name: IT_INTEGRATION.Condor_GetLastSOFRSequenceDeal
  error:
    logging:
      processing:
        xml:
          # Включено ли логирование xml при возникновении ошибок
          enabled: true
          # Максимальная длина xml в логе при возникновении ошибок
          max-length: 10000
      proxy:
        request:
          body:
            # Включено ли логирование тела запроса, поступающего на прокси-сервис, при возникновении ошибок
            enabled: true
            # Максимальная длина тела запроса, поступающего на прокси-сервис, в логе при возникновении ошибок
            max-length: 10000
          headers:
            # Включено ли логирование заголовков запроса, поступающего на прокси-сервис, при возникновении ошибок
            enabled: true
            # Максимальная длина заголовков запроса, поступающего на прокси-сервис, в логе при возникновении ошибок
            max-length: 10000
      rs-bank-ws:
        request:
          body:
            # Включено ли логирование тела запроса, отправляемого на сервис RSBankWS, при возникновении ошибок
            enabled: true
            # Максимальная длина тела запроса, отправляемого на сервис RSBankWS, в логе при возникновении ошибок
            max-length: 10000
          headers:
            # Включено ли логирование заголовков запроса, отправляемого на сервис RSBankWS, при возникновении ошибок
            enabled: true
            # Максимальная длина заголовков запроса, отправляемого на сервис RSBankWS, в логе при возникновении ошибок
            max-length: 10000

# Настройки сервера

server:
  # Порт сервера
  port: 8501
