psvc:
  name: Микросервис клиентских сделок валютного рынка
  description: Микросервис сохраняет клиентские сделки валютного рынка в свою БД

resources:
  limits:
    memory: "1Gi"
    cpu: "1"
  requests:
    memory: "500Mi"
    cpu: "500m"

databases:
  - type: POSTGRESQL
    name: fx_client_trades_db
    host: 10.7.118.211
    port: 5432

env:
  LOGGING_LEVEL_RU_RSHBINTECH: info
  APP_KAFKA_BOOTSTRAP_SERVERS: "appfarm://kafka-bootstrap:myinvestment/peinvest-appfarm-kafka"

links:
  - targetProtocol: "KAFKA"
    targetInformationSystemId: "myinvestment"
    targetKafkaClusterId: "peinvest-appfarm-kafka"
    targetKafkaTopicName: "fx.orders.client.enriched"
    kafkaAdapterProperties:
      connectionMode: "consumer"

  - targetProtocol: "KAFKA"
    targetInformationSystemId: "myinvestment"
    targetKafkaClusterId: "peinvest-appfarm-kafka"
    targetKafkaTopicName: "fx.trades.client.enriched"
    kafkaAdapterProperties:
      connectionMode: "consumer"

  - targetProtocol: "KAFKA"
    targetInformationSystemId: "myinvestment"
    targetKafkaClusterId: "peinvest-appfarm-kafka"
    targetKafkaTopicName: "fx.orders.client"
    kafkaAdapterProperties:
      connectionMode: "producer"

  - targetProtocol: "KAFKA"
    targetInformationSystemId: "myinvestment"
    targetKafkaClusterId: "peinvest-appfarm-kafka"
    targetKafkaTopicName: "fx.trades.client"
    kafkaAdapterProperties:
      connectionMode: "producer"

  - targetProtocol: "KAFKA"
    targetInformationSystemId: "myinvestment"
    targetKafkaClusterId: "peinvest-appfarm-kafka"
    targetKafkaTopicName: "dlq"
    kafkaAdapterProperties:
      connectionMode: "producer"

