version: '3.9'

services:
  zoo:
    image: confluentinc/cp-zookeeper:7.2.7
    hostname: zoo
    container_name: zoo
    ports:
      - 2181:2181
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_SERVER_ID: 1
      ZOOKEEPER_SERVERS: zoo:2888:3888

  kafka:
    image: confluentinc/cp-kafka:7.2.7
    hostname: kafka
    container_name: kafka
    ports:
      - 9092:9092
      - 29092:29092
      - 9999:9999
    environment:
      KAFKA_ADVERTISED_LISTENERS: >
        INTERNAL://kafka:19092,EXTERNAL://${DOCKER_HOST_IP:-127.0.0.1}:9092,DOCKER://host.docker.internal:29092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT,DOCKER:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: INTERNAL
      KAFKA_ZOOKEEPER_CONNECT: zoo:2181
      KAFKA_BROKER_ID: 1
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_JMX_PORT: 9999
      KAFKA_JMX_HOSTNAME: ${DOCKER_HOST_IP:-127.0.0.1}
      KAFKA_JMX_OPTS: >
        -Dcom.sun.management.jmxremote
        -Dcom.sun.management.jmxremote.authenticate=false
        -Dcom.sun.management.jmxremote.ssl=false
        -Djava.rmi.server.hostname=kafka
        -Dcom.sun.management.jmxremote.rmi.port=9999
    depends_on:
      - zoo

  kafka-ui:
    container_name: kafka-ui
    image: provectuslabs/kafka-ui:latest
    ports:
      - 9091:8080
    depends_on:
      - zoo
      - kafka
    environment:
      KAFKA_CLUSTERS_0_NAME: local
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka:19092
      KAFKA_CLUSTERS_0_ZOOKEEPER: zoo:2181
      KAFKA_CLUSTERS_0_JMXPORT: 9999

  init-kafka:
    image: confluentinc/cp-kafka:7.2.7
    depends_on:
      - kafka
    entrypoint:
      - /bin/sh
      - -c
    command: >
      "
      echo -e 'Creating kafka topics' &&
      kafka-topics --bootstrap-server kafka:19092 --create --topic ips.dias-sofr.ndfl --replication-factor 1
      --partitions 2 &&
      kafka-topics --bootstrap-server kafka:19092 --create --topic quik.limits.NewInstMon --replication-factor 1
      --partitions 2 &&
      kafka-topics --bootstrap-server kafka:19092 --create --topic sofr.limits.NewInstMon --replication-factor 1
      --partitions 2 &&
      kafka-topics --bootstrap-server kafka:19092 --create --topic diasoft.sofr.pko-info.req --replication-factor 1
      --partitions 2 &&
      kafka-topics --bootstrap-server kafka:19092 --create --topic sofr.diasoft.pko-info.resp --replication-factor 1
      --partitions 2 &&
      kafka-topics --bootstrap-server kafka:19092 --create --topic diasoft.sofr.pko-info-status-result.req
      --replication-factor 1 --partitions 2 &&
      kafka-topics --bootstrap-server kafka:19092 --create --topic sofr.diasoft.pko-info-status-result.resp
      --replication-factor 1 --partitions 2 &&
      kafka-topics --bootstrap-server kafka:19092 --create --topic sofr.diasoft.pko-info-status.req
      --replication-factor 1 --partitions 2 &&
      kafka-topics --bootstrap-server kafka:19092 --create --topic ips.tss.sofr-qmngr-mq-adapter
      --replication-factor 1 --partitions 2 &&
      kafka-topics --bootstrap-server kafka:19092 --create --topic ips.audit.messages --replication-factor 1
      --partitions 2 &&
      kafka-topics --bootstrap-server kafka:19092 --create --topic maks.transfer-rates.universal-json
      --replication-factor 1 --partitions 2 &&
      kafka-topics --bootstrap-server kafka:19092 --create --topic ips.efr-sofr.state-officer-sert
      --replication-factor 1 --partitions 2 &&
      kafka-topics --bootstrap-server kafka:19092 --create --topic ips.sofr-efr.state-officer-sert
      --replication-factor 1 --partitions 2 &&
      kafka-topics --bootstrap-server kafka:19092 --create --topic sofr.mq-adapter.client-info
      --replication-factor 1 --partitions 2 &&
      kafka-topics --bootstrap-server kafka:19092 --create --topic ips.dias-sofr.allocated-coupon
      --replication-factor 1 --partitions 2 &&
      kafka-topics --bootstrap-server kafka:19092 --create --topic ips.sofr-dias.allocated-coupon
      --replication-factor 1 --partitions 2 &&
      kafka-topics --bootstrap-server kafka:19092 --create --topic ips.dias-sofr.depo-contract --replication-factor 1
      --partitions 2 &&
      kafka-topics --bootstrap-server kafka:19092 --create --topic ips.sofr-dias.broker-contract --replication-factor 1
      --partitions 2 &&
      kafka-topics --bootstrap-server kafka:19092 --create --topic sofr.send-nontrading-order-answer --replication-factor 1
      --partitions 2 &&
      kafka-topics --bootstrap-server kafka:19092 --create --topic sofr.send-nontrading-order-status-request --replication-factor 1
      --partitions 2 &&
      kafka-topics --bootstrap-server kafka:19092 --create --topic sofr.send-nontrading-order-request --replication-factor 1
      --partitions 2 &&
      kafka-topics --bootstrap-server kafka:19092 --create --topic sofr.send-nontrading-order-status-answer --replication-factor 1
      --partitions 2 &&
      kafka-topics --bootstrap-server kafka:19092 --create --topic ips.document-factory.requests --replication-factor 1
      --partitions 2 &&
      kafka-topics --bootstrap-server kafka:19092 --create --topic sinv.get-brokerage-report-info-request --replication-factor 1
      --partitions 2 &&
      kafka-topics --bootstrap-server kafka:19092 --create --topic sofr.get-brokerage-agreement-info-request --replication-factor 1
      --partitions 2 &&
      kafka-topics --bootstrap-server kafka:19092 --create --topic sofr.get-brokerage-agreement-info-response --replication-factor 1
      --partitions 2 &&
      kafka-topics --bootstrap-server kafka:19092 --create --topic sofr.send-bill-request --replication-factor 1
      --partitions 2 &&
      kafka-topics --bootstrap-server kafka:19092 --create --topic sofr.send-bill-deal-request --replication-factor 1
      --partitions 2 &&
      kafka-topics --bootstrap-server kafka:19092 --create --topic sofr.send-nontrading-order-info-request --replication-factor 1
      --partitions 2 &&
      kafka-topics --bootstrap-server kafka:19092 --create --topic dias.send-depo-corp-actions-red-info-requests --replication-factor 1
      --partitions 2
      "
