psvc:
  publishAPI: true

databases:
  - id: ORA-1
    type: ORACLE
    name: SOFR
    host: 10.7.118.11
    port: 1521
    envMapping:
      port: APP_ORACLE_PORT
      name: APP_ORACLE_NAME
  - id: ORA-2
    type: ORACLE
    name: SOFR
    host: 10.7.118.13
    port: 1521
  - id: ORA-3
    type: ORACLE
    name: SOFR
    host: 10.7.44.5
    port: 1521

  - id: ORA-4
    type: ORACLE
    name: SOFR
    host: 10.7.44.25
    port: 1521

  - id: ORA-5
    type: ORACLE
    name: SOFR
    host: 10.7.118.25
    port: 1521

vaultSecretKeys:
  - APP_KAFKA_USER
  - APP_KAFKA_PASSWORD
  - KAFKA_TRUSTSTORE_PASSWORD
  - APP_ORACLE_HOST
  - APP_ORACLE_SCHEMA
  - APP_ORACLE_USER
  - APP_ORACLE_PASSWORD

env:
  APP_KAFKA_BOOTSTRAP_SERVERS_IPS: "10.7.97.5:9092,10.7.97.6:9092,10.7.97.7:9092"
  APP_KAFKA_BOOTSTRAP_SERVERS_IPS_AUDIT: "10.7.97.5:9092,10.7.97.6:9092,10.7.97.7:9092"
  APP_KAFKA_BOOTSTRAP_SERVERS_PLATFORM_MAKS_MAKS_KAFKA_MAIN: "appfarm://kafka-bootstrap:maks/maks-kafka-main"
  APP_KAFKA_BOOTSTRAP_SERVERS_PLATFORM_IPS_APPFARM_KAFKA: "appfarm://kafka-bootstrap:ips/appfarm-kafka"
  APP_KAFKA_BOOTSTRAP_SERVERS_PLATFORM_MYINVESTMENT_PEINVEST_APPFARM_KAFKA: "appfarm://kafka-bootstrap:myinvestment/peinvest-appfarm-kafka"

config:
  app:
    oracle:
      schema: ${APP_ORACLE_SCHEMA}
    kafka2jdbc:
      kafkaClusters:
        appfarm-pein-kafka:
          brokers: "${APP_KAFKA_BOOTSTRAP_SERVERS_PLATFORM_MYINVESTMENT_PEINVEST_APPFARM_KAFKA}"
          securityProtocol: "PLAINTEXT"
          groupId: "${APP_KAFKA_CONSUMER_GROUP_ID}"
        appfarm-ips-kafka:
          brokers: "${APP_KAFKA_BOOTSTRAP_SERVERS_PLATFORM_IPS_APPFARM_KAFKA}"
          securityProtocol: "PLAINTEXT"
          groupId: "${APP_KAFKA_CONSUMER_GROUP_ID}"
        ips-own-kafka:
          brokers: "${APP_KAFKA_BOOTSTRAP_SERVERS_IPS}"
          securityProtocol: "${KAFKA_SSL_PROTOCOL:SASL_SSL}"
          groupId: "${APP_KAFKA_CONSUMER_GROUP_ID}"
          saslMechanism: "SCRAM-SHA-512"
          saslJaasConfig: |
            org.apache.kafka.common.security.scram.ScramLoginModule
            required username='${APP_KAFKA_USER}' password='${APP_KAFKA_PASSWORD}';
          sslKeystoreLocation: "${KAFKA_TRUSTSTORE_LOCATION}"
          sslKeystorePassword: "${KAFKA_TRUSTSTORE_PASSWORD}"
      dead-letter-queue:
        name: "sofr-qmngr-mq-adapter-DLQ"
        clusterRef: "appfarm-pein-kafka"
      routes:
        - clusterRef: "appfarm-pein-kafka"
          inputTopics: "ips.rudata-sinkable-nominal"
          outProcedureTemplate: >
            ${APP_ORACLE_SCHEMA}.IT_RUDATA.DATEOPTIONSTABLE_RESP(
              LONGVARCHAR ${variable.HeadersJson},
              LONGVARCHAR ${body},
              OUT INTEGER errorCode,
              OUT VARCHAR result
            )
        - clusterRef: "appfarm-ips-kafka"
          inputTopics: "ips.send-accrued-coupon-income-info"
          outProcedureTemplate: "${APP_ORACLE_SCHEMA}.IT_MOEX.SAVENKD(LONGVARCHAR ${body}, DATE ${headers[kafka.KEY]}, OUT VARCHAR result)"
        - clusterRef: "appfarm-ips-kafka"
          inputTopics: "ips.document-factory.responses"
          filter: "$simple{headers[x-system-from]} == 'SOFR'"
          outProcedureTemplate: >
            ${APP_ORACLE_SCHEMA}.it_integration.qmanager_load_msg(
            VARCHAR ${headers[kafka.TOPIC]}, 
            VARCHAR ${headers[kafka.KEY]},
            TIMESTAMP ${variable.ProcessingTimestamp},
            LONGVARCHAR ${variable.HeadersJson},
            LONGVARCHAR ${body},
            OUT INTEGER errorCode,
            OUT VARCHAR result)

    monitoring:
      db:
        connection:
          logging:
            enabled: true
    broker-connectors:
      from:
        kafka:
          producers:
            platform:
              - topic: sofr.send-nontrading-order-answer
                kafka-cluster-id: ips_appfarm-kafka
              - topic: sofr.send-nontrading-order-status-request
                kafka-cluster-id: ips_appfarm-kafka
              - topic: ips.document-factory.requests
                kafka-cluster-id: ips_appfarm-kafka
              - topic: sofr.get-brokerage-agreement-info-response
                kafka-cluster-id: ips_appfarm-kafka
              - topic: sofr.get-legal-entity-report-response
                kafka-cluster-id: ips_appfarm-kafka
              - topic: sofr.send-bill-request
                kafka-cluster-id: ips_appfarm-kafka
              - topic: sofr.send-bill-deal-request
                kafka-cluster-id: ips_appfarm-kafka
              - topic: sofr.send-list-of-bonds-info
                kafka-cluster-id: myinvestment_peinvest-appfarm-kafka
              - topic: sofr.mq-adapter.client-info
                kafka-cluster-id: myinvestment_peinvest-appfarm-kafka
              - topic: derivatives.requests.client.enriched.sofr.dlq
                kafka-cluster-id: myinvestment_peinvest-appfarm-kafka
              - topic: derivatives.requests.bank.enriched.sofr.dlq
                kafka-cluster-id: myinvestment_peinvest-appfarm-kafka
              - topic: derivatives.deals.client.enriched.sofr.dlq
                kafka-cluster-id: myinvestment_peinvest-appfarm-kafka
              - topic: derivatives.deals.bank.enriched.sofr.dlq
                kafka-cluster-id: myinvestment_peinvest-appfarm-kafka
              - topic: sofr.get-tax-report-info-response
                kafka-cluster-id: myinvestment_peinvest-appfarm-kafka
              - topic: ips.orchestration.update-process.sofr
                kafka-cluster-id: ips_appfarm-kafka
              - topic: sofr.send-le-brokerage-agreement-info-request
                kafka-cluster-id: myinvestment_peinvest-appfarm-kafka
      to:
        kafka:
          consumers:
            load-msg:
              - topic: ips.dias-sofr.ndfl
              - topic: quik.limits.NewInstMon
              - topic: diasoft.sofr.pko-info.req
              - topic: diasoft.sofr.pko-info-status-result.req
              - topic: maks.transfer-rates.universal-json
                use-key-as-msg-id: false
                kafka-type: PLATFORM
                kafka-cluster-id: maks_maks-kafka-main
              - topic: ips.efr-sofr.state-officer-sert
              - topic: ips.dias-sofr.allocated-coupon
              - topic: ips.dias-sofr.depo-contract
              - topic: sofr.get-legal-entity-report-request
                kafka-type: PLATFORM
                kafka-cluster-id: ips_appfarm-kafka
              - topic: sofr.send-nontrading-order-request
                kafka-type: PLATFORM
                kafka-cluster-id: ips_appfarm-kafka
              - topic: sofr.send-nontrading-order-status-answer
                kafka-type: PLATFORM
                kafka-cluster-id: ips_appfarm-kafka
              - topic: sinv.get-brokerage-report-info-request
                kafka-type: PLATFORM
                kafka-cluster-id: ips_appfarm-kafka
              - topic: sofr.get-brokerage-agreement-info-request
                kafka-type: PLATFORM
                kafka-cluster-id: ips_appfarm-kafka
              - topic: ips.cft.send-promissory-notes-acc-list
                kafka-type: PLATFORM
                kafka-cluster-id: ips_appfarm-kafka
              - topic: dias.send-depo-corp-actions-red-info-requests
                kafka-cluster-id: myinvestment_peinvest-appfarm-kafka
                kafka-type: PLATFORM
              - topic: sofr.get-tax-report-info-request
                kafka-cluster-id: myinvestment_peinvest-appfarm-kafka
                kafka-type: PLATFORM
              - topic: ips.orchestration.sofr.send-ba-terms-req
                kafka-cluster-id: ips_appfarm-kafka
                kafka-type: PLATFORM

replicaCount: 1
strategyType: Recreate

links:
  - targetProtocol: "KAFKA"
    targetInformationSystemId: "ips"
    targetKafkaClusterId: "appfarm-kafka"
    targetKafkaTopicName: "sofr.get-legal-entity-report-request"
    kafkaAdapterProperties:
      connectionMode: "consumer"
  - targetProtocol: "KAFKA"
    targetInformationSystemId: "ips"
    targetKafkaClusterId: "appfarm-kafka"
    targetKafkaTopicName: "sofr.get-legal-entity-report-response"
    kafkaAdapterProperties:
      connectionMode: "producer"
  - targetProtocol: "KAFKA"
    targetInformationSystemId: "ips"
    targetKafkaClusterId: "appfarm-kafka"
    targetKafkaTopicName: "ips.send-accrued-coupon-income-info"
    kafkaAdapterProperties:
      connectionMode: "consumer"
  - targetProtocol: "KAFKA"
    targetInformationSystemId: "myinvestment"
    targetKafkaClusterId: "peinvest-appfarm-kafka"
    targetKafkaTopicName: "sofr-qmngr-mq-adapter-DLQ"
    kafkaAdapterProperties:
      connectionMode: "producer"
  - targetProtocol: "KAFKA"
    targetInformationSystemId: "myinvestment"
    targetKafkaClusterId: "peinvest-appfarm-kafka"
    targetKafkaTopicName: "ips.rudata-sinkable-nominal"
    kafkaAdapterProperties:
      connectionMode: "consumer"
  - targetProtocol: "KAFKA"
    targetInformationSystemId: "ips"
    targetKafkaClusterId: "cluster-1"
    targetKafkaTopicName: "ips.audit.messages"
    kafkaAdapterProperties:
      connectionMode: "producer"
  - targetProtocol: "KAFKA"
    targetInformationSystemId: "ips"
    targetKafkaClusterId: "cluster-1"
    targetKafkaTopicName: "ips.dias-sofr.ndfl"
    kafkaAdapterProperties:
      connectionMode: "consumer"
  - targetProtocol: "KAFKA"
    targetInformationSystemId: "ips"
    targetKafkaClusterId: "cluster-1"
    targetKafkaTopicName: "quik.limits.NewInstMon"
    kafkaAdapterProperties:
      connectionMode: "consumer"
  - targetProtocol: "KAFKA"
    targetInformationSystemId: "ips"
    targetKafkaClusterId: "cluster-1"
    targetKafkaTopicName: "diasoft.sofr.pko-info.req"
    kafkaAdapterProperties:
      connectionMode: "consumer"
  - targetProtocol: "KAFKA"
    targetInformationSystemId: "ips"
    targetKafkaClusterId: "cluster-1"
    targetKafkaTopicName: "diasoft.sofr.pko-info-status-result.req"
    kafkaAdapterProperties:
      connectionMode: "consumer"
  - targetProtocol: "KAFKA"
    targetInformationSystemId: "ips"
    targetKafkaClusterId: "cluster-1"
    targetKafkaTopicName: "ips.tss.sofr-qmngr-mq-adapter"
    kafkaAdapterProperties:
      connectionMode: "consumer"
  - targetProtocol: "KAFKA"
    targetInformationSystemId: "ips"
    targetKafkaClusterId: "cluster-1"
    targetKafkaTopicName: "sofr.limits.NewInstMon"
    kafkaAdapterProperties:
      connectionMode: "producer"
  - targetProtocol: "KAFKA"
    targetInformationSystemId: "ips"
    targetKafkaClusterId: "cluster-1"
    targetKafkaTopicName: "sofr.diasoft.pko-info.resp"
    kafkaAdapterProperties:
      connectionMode: "producer"
  - targetProtocol: "KAFKA"
    targetInformationSystemId: "ips"
    targetKafkaClusterId: "cluster-1"
    targetKafkaTopicName: "sofr.diasoft.pko-info-status.req"
    kafkaAdapterProperties:
      connectionMode: "producer"
  - targetProtocol: "KAFKA"
    targetInformationSystemId: "ips"
    targetKafkaClusterId: "cluster-1"
    targetKafkaTopicName: "diasoft.sofr.pko-info-status-result.req"
    kafkaAdapterProperties:
      connectionMode: "producer"
  - targetProtocol: "KAFKA"
    targetInformationSystemId: "maks"
    targetKafkaClusterId: "maks-kafka-main"
    targetKafkaTopicName: "maks.transfer-rates.universal-json"
    kafkaAdapterProperties:
      connectionMode: "consumer"
  - targetProtocol: "KAFKA"
    targetInformationSystemId: "ips"
    targetKafkaClusterId: "cluster-1"
    targetKafkaTopicName: "ips.efr-sofr.state-officer-sert"
    kafkaAdapterProperties:
      connectionMode: "consumer"
  - targetProtocol: "KAFKA"
    targetInformationSystemId: "ips"
    targetKafkaClusterId: "cluster-1"
    targetKafkaTopicName: "ips.sofr-efr.state-officer-sert"
    kafkaAdapterProperties:
      connectionMode: "producer"
  - targetProtocol: "KAFKA"
    targetInformationSystemId: "myinvestment"
    targetKafkaClusterId: "peinvest-appfarm-kafka"
    targetKafkaTopicName: "sofr.mq-adapter.client-info"
    kafkaAdapterProperties:
      connectionMode: "producer"
  - targetProtocol: "KAFKA"
    targetInformationSystemId: "ips"
    targetKafkaClusterId: "cluster-1"
    targetKafkaTopicName: "ips.dias-sofr.allocated-coupon"
    kafkaAdapterProperties:
      connectionMode: "consumer"
  - targetProtocol: "KAFKA"
    targetInformationSystemId: "ips"
    targetKafkaClusterId: "cluster-1"
    targetKafkaTopicName: "ips.sofr-dias.allocated-coupon"
    kafkaAdapterProperties:
      connectionMode: "producer"
  - targetProtocol: "KAFKA"
    targetInformationSystemId: "ips"
    targetKafkaClusterId: "cluster-1"
    targetKafkaTopicName: "ips.dias-sofr.depo-contract"
    kafkaAdapterProperties:
      connectionMode: "consumer"
  - targetProtocol: "KAFKA"
    targetInformationSystemId: "ips"
    targetKafkaClusterId: "cluster-1"
    targetKafkaTopicName: "ips.sofr-dias.broker-contract"
    kafkaAdapterProperties:
      connectionMode: "producer"
  - targetProtocol: "KAFKA"
    targetInformationSystemId: "ips"
    targetKafkaClusterId: "appfarm-kafka"
    targetKafkaTopicName: "sofr.send-nontrading-order-request"
    kafkaAdapterProperties:
      connectionMode: "consumer"
  - targetProtocol: "KAFKA"
    targetInformationSystemId: "ips"
    targetKafkaClusterId: "appfarm-kafka"
    targetKafkaTopicName: "sofr.send-nontrading-order-answer"
    kafkaAdapterProperties:
      connectionMode: "producer"
  - targetProtocol: "KAFKA"
    targetInformationSystemId: "ips"
    targetKafkaClusterId: "appfarm-kafka"
    targetKafkaTopicName: "sofr.send-nontrading-order-status-answer"
    kafkaAdapterProperties:
      connectionMode: "consumer"
  - targetProtocol: "KAFKA"
    targetInformationSystemId: "ips"
    targetKafkaClusterId: "appfarm-kafka"
    targetKafkaTopicName: "sofr.send-nontrading-order-status-request"
    kafkaAdapterProperties:
      connectionMode: "producer"
  - targetProtocol: "KAFKA"
    targetInformationSystemId: "ips"
    targetKafkaClusterId: "appfarm-kafka"
    targetKafkaTopicName: "sinv.get-brokerage-report-info-request"
    kafkaAdapterProperties:
      connectionMode: "consumer"
  - targetProtocol: "KAFKA"
    targetInformationSystemId: "ips"
    targetKafkaClusterId: "appfarm-kafka"
    targetKafkaTopicName: "ips.document-factory.requests"
    kafkaAdapterProperties:
      connectionMode: "producer"
  - targetProtocol: "KAFKA"
    targetInformationSystemId: "ips"
    targetKafkaClusterId: "appfarm-kafka"
    targetKafkaTopicName: "ips.document-factory.responses"
    kafkaAdapterProperties:
      connectionMode: "consumer"
  - targetProtocol: "KAFKA"
    targetInformationSystemId: "ips"
    targetKafkaClusterId: "appfarm-kafka"
    targetKafkaTopicName: "sofr.get-brokerage-agreement-info-request"
    kafkaAdapterProperties:
      connectionMode: "consumer"
  - targetProtocol: "KAFKA"
    targetInformationSystemId: "ips"
    targetKafkaClusterId: "appfarm-kafka"
    targetKafkaTopicName: "sofr.get-brokerage-agreement-info-response"
    kafkaAdapterProperties:
      connectionMode: "producer"
  - targetProtocol: "KAFKA"
    targetInformationSystemId: "ips"
    targetKafkaClusterId: "appfarm-kafka"
    targetKafkaTopicName: "sofr.send-bill-request"
    kafkaAdapterProperties:
      connectionMode: "producer"
  - targetProtocol: "KAFKA"
    targetInformationSystemId: "ips"
    targetKafkaClusterId: "appfarm-kafka"
    targetKafkaTopicName: "sofr.send-bill-deal-request"
    kafkaAdapterProperties:
      connectionMode: "producer"
  - targetProtocol: "KAFKA"
    targetInformationSystemId: "ips"
    targetKafkaClusterId: "cluster-1"
    targetKafkaTopicName: "sofr.send-nontrading-order-info-request"
    kafkaAdapterProperties:
      connectionMode: "producer"
  - targetProtocol: "KAFKA"
    targetInformationSystemId: "ips"
    targetKafkaClusterId: "appfarm-kafka"
    targetKafkaTopicName: "ips.cft.send-promissory-notes-acc-list"
    kafkaAdapterProperties:
      connectionMode: "consumer"
  - targetProtocol: "KAFKA"
    targetInformationSystemId: "myinvestment"
    targetKafkaClusterId: "peinvest-appfarm-kafka"
    targetKafkaTopicName: "sofr.send-list-of-bonds-info"
    kafkaAdapterProperties:
      connectionMode: "producer"
  - targetProtocol: "KAFKA"
    targetInformationSystemId: "myinvestment"
    targetKafkaClusterId: "peinvest-appfarm-kafka"
    targetKafkaTopicName: "dias.send-depo-corp-actions-red-info-requests"
    kafkaAdapterProperties:
      connectionMode: "consumer"
  - targetProtocol: "KAFKA"
    targetInformationSystemId: "myinvestment"
    targetKafkaClusterId: "peinvest-appfarm-kafka"
    targetKafkaTopicName: "sofr.get-tax-report-info-request"
    kafkaAdapterProperties:
      connectionMode: "consumer"
  - targetProtocol: "KAFKA"
    targetInformationSystemId: "myinvestment"
    targetKafkaClusterId: "peinvest-appfarm-kafka"
    targetKafkaTopicName: "sofr.get-tax-report-info-response"
    kafkaAdapterProperties:
      connectionMode: "producer"
  - targetProtocol: "KAFKA"
    targetInformationSystemId: "ips"
    targetKafkaClusterId: "appfarm-kafka"
    targetKafkaTopicName: "ips.orchestration.sofr.send-ba-terms-req"
    kafkaAdapterProperties:
      connectionMode: "consumer"
  - targetProtocol: "KAFKA"
    targetInformationSystemId: "ips"
    targetKafkaClusterId: "appfarm-kafka"
    targetKafkaTopicName: "ips.orchestration.update-process.sofr"
    kafkaAdapterProperties:
      connectionMode: "producer"
  - targetProtocol: "KAFKA"
    targetInformationSystemId: "myinvestment"
    targetKafkaClusterId: "peinvest-appfarm-kafka"
    targetKafkaTopicName: "sofr.send-le-brokerage-agreement-info-request"
    kafkaAdapterProperties:
      connectionMode: "producer"