psvc:
  name: Микросервис обогащения сделок и заявок валютного рынка
  description: Микросервис получает данные от IPS и обогащает их
  publishAPI: true

resources:
  limits:
    memory: "1Gi"
    cpu: "1"
  requests:
    memory: "500Mi"
    cpu: "500m"

env:
  LOGGING_LEVEL_RU_RSHBINTECH: INFO
  APP_KAFKA_BOOTSTRAP_SERVERS: "appfarm://kafka-bootstrap:myinvestment/peinvest-appfarm-kafka"

links:
  - targetProtocol: "KAFKA"
    targetInformationSystemId: "myinvestment"
    targetKafkaClusterId: "peinvest-appfarm-kafka"
    targetKafkaTopicName: "sofr.fx.raw.orders"
    kafkaAdapterProperties:
      connectionMode: "consumer"

  - targetProtocol: "KAFKA"
    targetInformationSystemId: "myinvestment"
    targetKafkaClusterId: "peinvest-appfarm-kafka"
    targetKafkaTopicName: "sofr.fx.raw.trades"
    kafkaAdapterProperties:
      connectionMode: "consumer"

  - targetProtocol: "KAFKA"
    targetInformationSystemId: "myinvestment"
    targetKafkaClusterId: "peinvest-appfarm-kafka"
    targetKafkaTopicName: "dlq"
    kafkaAdapterProperties:
      connectionMode: "consumer"

  - targetProtocol: "KAFKA"
    targetInformationSystemId: "myinvestment"
    targetKafkaClusterId: "peinvest-appfarm-kafka"
    targetKafkaTopicName: "dlq"
    kafkaAdapterProperties:
      connectionMode: "producer"

  - targetProtocol: "KAFKA"
    targetInformationSystemId: "myinvestment"
    targetKafkaClusterId: "peinvest-appfarm-kafka"
    targetKafkaTopicName: "fx.orders.client.enriched"
    kafkaAdapterProperties:
      connectionMode: "producer"

  - targetProtocol: "KAFKA"
    targetInformationSystemId: "myinvestment"
    targetKafkaClusterId: "peinvest-appfarm-kafka"
    targetKafkaTopicName: "fx.trades.client.enriched"
    kafkaAdapterProperties:
      connectionMode: "producer"

  - targetProtocol: "KAFKA"
    targetInformationSystemId: "myinvestment"
    targetKafkaClusterId: "peinvest-appfarm-kafka"
    targetKafkaTopicName: "fx.subcontracts.active"
    kafkaAdapterProperties:
      connectionMode: "consumer"

  - targetProtocol: "KAFKA"
    targetInformationSystemId: "myinvestment"
    targetKafkaClusterId: "peinvest-appfarm-kafka"
    targetKafkaTopicName: "fx.subcontracts.active.moex-lnk"
    kafkaAdapterProperties:
      connectionMode: "consumer"

  - targetProtocol: "KAFKA"
    targetInformationSystemId: "myinvestment"
    targetKafkaClusterId: "peinvest-appfarm-kafka"
    targetKafkaTopicName: "fx.marketschemes.moex-lnk"
    kafkaAdapterProperties:
      connectionMode: "consumer"

  - targetProtocol: "KAFKA"
    targetInformationSystemId: "myinvestment"
    targetKafkaClusterId: "peinvest-appfarm-kafka"
    targetKafkaTopicName: "fx.commissions.types"
    kafkaAdapterProperties:
      connectionMode: "consumer"

  - targetProtocol: "KAFKA"
    targetInformationSystemId: "myinvestment"
    targetKafkaClusterId: "peinvest-appfarm-kafka"
    targetKafkaTopicName: "fx.commissions.parameters.plans"
    kafkaAdapterProperties:
      connectionMode: "consumer"

  - targetProtocol: "KAFKA"
    targetInformationSystemId: "myinvestment"
    targetKafkaClusterId: "peinvest-appfarm-kafka"
    targetKafkaTopicName: "fx.instruments"
    kafkaAdapterProperties:
      connectionMode: "consumer"

  - targetProtocol: "KAFKA"
    targetInformationSystemId: "myinvestment"
    targetKafkaClusterId: "peinvest-appfarm-kafka"
    targetKafkaTopicName: "fx.instruments.moex-lnk"
    kafkaAdapterProperties:
      connectionMode: "consumer"


probes:
  readinessProbe:
    initialDelaySeconds: 120
    periodSeconds: 5
    timeoutSeconds: 3
    successThreshold: 1
    failureThreshold: 5
  livenessProbe:
    initialDelaySeconds: 120
    periodSeconds: 5
    timeoutSeconds: 3
    successThreshold: 1
    failureThreshold: 5