---
- name: Pre-create artifact directory
  ansible.builtin.file:
    path: "{{ dest }}"
    state: directory

# artifact | regex_search('^[a-z]+-[a-z]+') = artifact id
# artifact | regex_search('[0-9]+\\.[0-9]+\\.[0-9]+') = tag

- name: Download the artifact
  ansible.builtin.uri:
    url: "{{ protohost }}/repository/{{ repo }}/{{ group_id | regex_replace('\\.', '/') }}/{{ artifact | regex_search('^[a-z]+-[a-z]+') }}/{{ artifact | regex_search('[0-9]+\\.[0-9]+\\.[0-9]+') }}/{{ artifact }}"
    dest: "{{ dest }}/"
    validate_certs: false
    force_basic_auth: true
    url_username: "{{ username }}"
    url_password: "{{ password }}"
    timeout: 1200
    status_code: 200
  register: _uri_get_artifact_register
  retries: 10
  until: _uri_get_artifact_register.status == 200