---
- name: Pre-create {{ dirpathprops }}
  win_file:
    path: "{{ dirpathprops }}"
    state: directory

- name: Pre-create {{ dirpathjswconf }}
  win_file:
    path: "{{ dirpathjswconf }}"
    state: directory

- name: Place rsbankws-proxy config
  ansible.builtin.win_template:
    src: config.preprod.yml.j2
    dest: "{{ dirpathprops }}\\{{ config }}"
  when: stand == 'preprod'

- name: Place rsbankws-proxy config
  ansible.builtin.win_template:
    src: config.prod.yml.j2
    dest: "{{ dirpathprops }}\\{{ config }}"
  when: stand == 'prod'

- name: Place rsbankws-proxy config
  ansible.builtin.win_template:
    src: config.test.yml.j2
    dest: "{{ dirpathprops }}\\{{ config }}"
  when: stand != 'prod' and stand != 'preprod'

- name: Place JSW config
  ansible.builtin.win_template:
    src: wrapper.preprod.conf.j2
    dest: "{{ dirpathjswconf }}\\{{ wconfig }}"
  when: stand == 'preprod'

- name: Place JSW config
  ansible.builtin.win_template:
    src: wrapper.prod.conf.j2
    dest: "{{ dirpathjswconf }}\\{{ wconfig }}"
  when: stand == 'prod'

- name: Place JSW config
  ansible.builtin.win_template:
    src: wrapper.test.conf.j2
    dest: "{{ dirpathjswconf }}\\{{ wconfig }}"
  when: stand != 'prod' and stand != 'preprod'