psvc:
  name: Сервис обогащения сделок данными
  description: Отдельный микросервис который обогащает "сырые" данные по сделкам дополнительной информацией

resources:
  limits:
    memory: "1Gi"
    cpu: "1"
  requests:
    memory: "500Mi"
    cpu: "500m"

env:
  LOGGING_LEVEL_RU_RSHBINTECH: INFO
  APP_KAFKA_BOOTSTRAP_SERVERS: "appfarm://kafka-bootstrap:myinvestment/peinvest-appfarm-kafka"

links:
  - targetProtocol: "KAFKA"
    targetInformationSystemId: "myinvestment"
    targetKafkaClusterId: "peinvest-appfarm-kafka"
    targetKafkaTopicName: "sofr.derivatives.fix"
    kafkaAdapterProperties:
      connectionMode: "consumer"

  - targetProtocol: "KAFKA"
    targetInformationSystemId: "myinvestment"
    targetKafkaClusterId: "peinvest-appfarm-kafka"
    targetKafkaTopicName: "derivatives.requests.bank.enriched"
    kafkaAdapterProperties:
      connectionMode: "producer"

  - targetProtocol: "KAFKA"
    targetInformationSystemId: "myinvestment"
    targetKafkaClusterId: "peinvest-appfarm-kafka"
    targetKafkaTopicName: "derivatives.requests.client.enriched"
    kafkaAdapterProperties:
      connectionMode: "producer"

  - targetProtocol: "KAFKA"
    targetInformationSystemId: "myinvestment"
    targetKafkaClusterId: "peinvest-appfarm-kafka"
    targetKafkaTopicName: "derivatives.deals.bank.enriched"
    kafkaAdapterProperties:
      connectionMode: "producer"

  - targetProtocol: "KAFKA"
    targetInformationSystemId: "myinvestment"
    targetKafkaClusterId: "peinvest-appfarm-kafka"
    targetKafkaTopicName: "derivatives.deals.client.enriched"
    kafkaAdapterProperties:
      connectionMode: "producer"

  - targetProtocol: "KAFKA"
    targetInformationSystemId: "myinvestment"
    targetKafkaClusterId: "peinvest-appfarm-kafka"
    targetKafkaTopicName: "sofr.derivatives.fix.dlq"
    kafkaAdapterProperties:
      connectionMode: "producer"

  - targetProtocol: "KAFKA"
    targetInformationSystemId: "myinvestment"
    targetKafkaClusterId: "peinvest-appfarm-kafka"
    targetKafkaTopicName: "subcontracts.derivatives.active"
    kafkaAdapterProperties:
      connectionMode: "consumer"

  - targetProtocol: "KAFKA"
    targetInformationSystemId: "myinvestment"
    targetKafkaClusterId: "peinvest-appfarm-kafka"
    targetKafkaTopicName: "instruments.derivatives.active"
    kafkaAdapterProperties:
      connectionMode: "consumer"

  - targetProtocol: "KAFKA"
    targetInformationSystemId: "myinvestment"
    targetKafkaClusterId: "peinvest-appfarm-kafka"
    targetKafkaTopicName: "calendars.markets.derivatives.clearing"
    kafkaAdapterProperties:
      connectionMode: "consumer"

  - targetProtocol: "KAFKA"
    targetInformationSystemId: "myinvestment"
    targetKafkaClusterId: "peinvest-appfarm-kafka"
    targetKafkaTopicName: "deals.marketschemes.moex-lnk"
    kafkaAdapterProperties:
      connectionMode: "consumer"

  - targetProtocol: "KAFKA"
    targetInformationSystemId: "myinvestment"
    targetKafkaClusterId: "peinvest-appfarm-kafka"
    targetKafkaTopicName: "commissions.types"
    kafkaAdapterProperties:
      connectionMode: "consumer"

  - targetProtocol: "KAFKA"
    targetInformationSystemId: "myinvestment"
    targetKafkaClusterId: "peinvest-appfarm-kafka"
    targetKafkaTopicName: "commissions.parameters.plans"
    kafkaAdapterProperties:
      connectionMode: "consumer"

  - targetProtocol: "KAFKA"
    targetInformationSystemId: "myinvestment"
    targetKafkaClusterId: "peinvest-appfarm-kafka"
    targetKafkaTopicName: "subcontracts.derivatives.active.moex-lnk"
    kafkaAdapterProperties:
      connectionMode: "consumer"

  - targetProtocol: "KAFKA"
    targetInformationSystemId: "myinvestment"
    targetKafkaClusterId: "peinvest-appfarm-kafka"
    targetKafkaTopicName: "instruments.derivatives.active.moex-lnk"
    kafkaAdapterProperties:
      connectionMode: "consumer"