spring:
  config:
    import: "optional:file:/config/config.yaml"
  datasource:
    url: > 
      jdbc:oracle:thin:@(DESCRIPTION=
      (CONNECT_TIMEOUT=15)
      (TRANSPORT_CONNECT_TIMEOUT=10)
      (RETRY_COUNT=4)
      (CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME = ${APP_ORACLE_NAME}))(ADDRESS_LIST = (ADDRESS = (PROTOCOL=TCP)(HOST=${APP_ORACLE_HOST})(PORT=${APP_ORACLE_PORT})) ) )
    username: ${APP_ORACLE_USER}
    password: ${APP_ORACLE_PASSWORD}
    driver-class-name: oracle.jdbc.OracleDriver
  kafka:
    bootstrap-servers: ${APP_KAFKA_BOOTSTRAP_SERVERS_IPS}
    security:
      protocol: ${KAFKA_SSL_PROTOCOL:SASL_SSL}
    properties:
      sasl:
        mechanism: SCRAM-SHA-512
        jaas:
          config: |
            org.apache.kafka.common.security.scram.ScramLoginModule
            required username='${APP_KAFKA_USER}' password='${APP_KAFKA_PASSWORD}';
    ssl:
      trust-store-location: ${KAFKA_TRUSTSTORE_LOCATION}
      trust-store-password: ${KAFKA_TRUSTSTORE_PASSWORD}
    consumer:
      group-id: ${APP_KAFKA_CONSUMER_GROUP_ID}
      auto-offset-reset: latest
      enable-auto-commit: false
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer
    producer:
      retries: ${KAFKA_PRODUCER_RETRIES:3}
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.apache.kafka.common.serialization.StringSerializer
      acks: ${KAFKA_PRODUCER_ACKS:all}
      properties:
        max.block.ms: ${KAFKA_PRODUCER_TIMEOUTS_MS:3000}
        max.request.size: ${app.broker-connectors.from.kafka.producers.max-request-size:3145728}

app:
  oracle:
    schema: ${APP_ORACLE_SCHEMA}
  scheduling:
    cron: "0/30 * 8-18 * * *"
    zone: "Europe/Moscow"
  kafka:
    platform:
      maks_maks-kafka-main:
        bootstrap-servers: ${APP_KAFKA_BOOTSTRAP_SERVERS_PLATFORM_MAKS_MAKS_KAFKA_MAIN}
        security:
          protocol: PLAINTEXT
        consumer:
          group-id: ${APP_KAFKA_CONSUMER_GROUP_ID}
          auto-offset-reset: latest
          enable-auto-commit: false
          key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
          value-deserializer: org.apache.kafka.common.serialization.StringDeserializer
        producer:
          retries: ${KAFKA_PRODUCER_RETRIES:3}
          key-serializer: org.apache.kafka.common.serialization.StringSerializer
          value-serializer: org.apache.kafka.common.serialization.StringSerializer
          acks: ${KAFKA_PRODUCER_ACKS:all}
          properties:
            max.block.ms: ${KAFKA_PRODUCER_TIMEOUTS_MS:3000}
      myinvestment_peinvest-appfarm-kafka:
        bootstrap-servers: ${APP_KAFKA_BOOTSTRAP_SERVERS_PLATFORM_MYINVESTMENT_PEINVEST_APPFARM_KAFKA}
        security:
          protocol: PLAINTEXT
        consumer:
          group-id: ${APP_KAFKA_CONSUMER_GROUP_ID}
          auto-offset-reset: latest
          enable-auto-commit: false
          key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
          value-deserializer: org.apache.kafka.common.serialization.StringDeserializer
        producer:
          retries: ${KAFKA_PRODUCER_RETRIES:3}
          key-serializer: org.apache.kafka.common.serialization.StringSerializer
          value-serializer: org.apache.kafka.common.serialization.StringSerializer
          acks: ${KAFKA_PRODUCER_ACKS:all}
          properties:
            max.block.ms: ${KAFKA_PRODUCER_TIMEOUTS_MS:3000}
      ips_appfarm-kafka:
        bootstrap-servers: ${APP_KAFKA_BOOTSTRAP_SERVERS_PLATFORM_IPS_APPFARM_KAFKA}
        security:
          protocol: PLAINTEXT
        consumer:
          group-id: ${APP_KAFKA_CONSUMER_GROUP_ID}
          auto-offset-reset: latest
          enable-auto-commit: false
          key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
          value-deserializer: org.apache.kafka.common.serialization.StringDeserializer
        producer:
          retries: ${KAFKA_PRODUCER_RETRIES:3}
          key-serializer: org.apache.kafka.common.serialization.StringSerializer
          value-serializer: org.apache.kafka.common.serialization.StringSerializer
          acks: ${KAFKA_PRODUCER_ACKS:all}
          properties:
            max.block.ms: ${KAFKA_PRODUCER_TIMEOUTS_MS:3000}
            max.request.size: 10485760

audit:
  system_name: ips
  service_name: sofr-qmngr-mq-adapter
  kafka:
    bootstrap_servers: ${APP_KAFKA_BOOTSTRAP_SERVERS_IPS_AUDIT}
    security:
      protocol: ${KAFKA_SSL_PROTOCOL:SASL_SSL}
    ssl:
      trust-store-location: ${KAFKA_TRUSTSTORE_LOCATION}
      trust-store-password: ${KAFKA_TRUSTSTORE_PASSWORD}
    properties:
      sasl:
        mechanism: SCRAM-SHA-512
        jaas:
          config: |
            org.apache.kafka.common.security.scram.ScramLoginModule
            required username='${APP_KAFKA_USER}' password='${APP_KAFKA_PASSWORD}';

logging:
  level:
    ru.rshbintech.itinvest.ckips.ips.sofr.qmngr: ${LOG_LEVEL:DEBUG}
    org.apache.kafka: ${KAFKA_LOG_LEVEL:WARN}
