# Информация о приложении
info:
  name: '@project.name@'
  description: '@project.description@'
  version: '@project.version@'
  time: '@maven.build.timestamp@'

spring:
  application:
    name: kafka-postgres-adapter
  datasource:
    url: jdbc:postgresql://${APP_POSTGRESQL_HOST}:${APP_POSTGRESQL_PORT}/${APP_POSTGRESQL_NAME}
    username: ${APP_POSTGRESQL_USER}
    password: ${APP_POSTGRESQL_PASSWORD}
    hikari:
      maximum-pool-size: 20
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        default_schema: ${DB_SCHEMA_NAME}
  cloud:
    stream:
      function:
        definition: messageProcessor
      bindings:
        # Входящие сообщения
        messageProcessor-in-0:
          destination: sofr.send-nontrading-order-answer
          group: sofr.send-nontrading-order-answer
        messageProcessor-in-1:
          destination: sofr.send-nontrading-order-status-request
          group: sofr.send-nontrading-order-status-request
        messageProcessor-in-2:
          destination: ips.document-factory.requests
          group: ips.document-factory.requests
        messageProcessor-in-3:
          destination: sofr.get-brokerage-agreement-info-response
          group: sofr.get-brokerage-agreement-info-response
        messageProcessor-in-4:
          destination: sofr.get-legal-entity-report-response
          group: sofr.get-legal-entity-report-response
        messageProcessor-in-5:
          destination: sofr.send-bill-request
          group: sofr.send-bill-request
        messageProcessor-in-6:
          destination: sofr.send-bill-deal-request
          group: sofr.send-bill-deal-request
        messageProcessor-in-7:
          destination: sofr.send-list-of-bonds-info
          group: sofr.send-list-of-bonds-info
        messageProcessor-in-8:
          destination: sofr.mq-adapter.client-info
          group: sofr.mq-adapter.client-info
        messageProcessor-in-9:
          destination: derivatives.requests.client.enriched.sofr.dlq
          group: derivatives.requests.client.enriched.sofr.dlq
        messageProcessor-in-10:
          destination: derivatives.requests.bank.enriched.sofr.dlq
          group: derivatives.requests.bank.enriched.sofr.dlq
        messageProcessor-in-11:
          destination: derivatives.deals.client.enriched.sofr.dlq
          group: derivatives.deals.client.enriched.sofr.dlq
        messageProcessor-in-12:
          destination: derivatives.deals.bank.enriched.sofr.dlq
          group: derivatives.deals.bank.enriched.sofr.dlq
        messageProcessor-in-13:
          destination: sofr.get-tax-report-info-response
          group: sofr.get-tax-report-info-response
        messageProcessor-in-14:
          destination: ips.orchestration.update-process.sofr
          group: ips.orchestration.update-process.sofr
        messageProcessor-in-15:
          destination: sofr.send-le-brokerage-agreement-info-request
          group: sofr.send-le-brokerage-agreement-info-request

        # Исходящие сообщения
        outgoing-message-bindings:
          maks-transfer-rates-out-0:
            destination: maks.transfer-rates.universal-json
            binder: kafka-maks
          sofr-legal-entity-report-out-0:
            destination: sofr.get-legal-entity-report-request
            binder: kafka-ips
          sofr-nontrading-order-request-out-0:
            destination: sofr.send-nontrading-order-request
            binder: kafka-ips
          sofr-nontrading-order-status-out-0:
            destination: sofr.send-nontrading-order-status-answer
            binder: kafka-ips
          sinv-brokerage-report-out-0:
            destination: sinv.get-brokerage-report-info-request
            binder: kafka-ips
          sofr-brokerage-agreement-out-0:
            destination: sofr.get-brokerage-agreement-info-request
            binder: kafka-ips
          ips-cft-promissory-notes-out-0:
            destination: ips.cft.send-promissory-notes-acc-list
            binder: kafka-ips
          ips-orchestration-ba-terms-out-0:
            destination: ips.orchestration.sofr.send-ba-terms-req
            binder: kafka-ips
          dias-depo-corp-actions-out-0:
            destination: dias.send-depo-corp-actions-red-info-requests
            binder: kafka-myinvestment
          sofr-tax-report-out-0:
            destination: sofr.get-tax-report-info-request
            binder: kafka-myinvestment

      binders:
        kafka-maks:
          type: kafka
          environment:
            spring:
              kafka:
                bootstrap-servers: ${APP_KAFKA_BOOTSTRAP_SERVERS_PLATFORM_MAKS_MAKS_KAFKA_MAIN}
        kafka-ips:
          type: kafka
          environment:
            spring:
              kafka:
                bootstrap-servers: ${APP_KAFKA_BOOTSTRAP_SERVERS_PLATFORM_IPS_APPFARM_KAFKA}
        kafka-myinvestment:
          type: kafka
          environment:
            spring:
              kafka:
                bootstrap-servers: ${APP_KAFKA_BOOTSTRAP_SERVERS_PLATFORM_MYINVESTMENT_PEINVEST_APPFARM_KAFKA}

      kafka:
        binder:
          brokers: ${APP_KAFKA_BOOTSTRAP_SERVERS_PLATFORM_IPS_APPFARM_KAFKA}
          configuration:
            enable.auto.commit: false
        bindings:
          messageProcessor-in-0:
            consumer:
              configuration:
                spring.json.trusted.packages: "*"

app:
  databases:
    primary:
      url: jdbc:postgresql://${APP_POSTGRESQL_HOST}:${APP_POSTGRESQL_PORT}/${APP_POSTGRESQL_NAME}
      username: ${APP_POSTGRESQL_USER}
      password: ${APP_POSTGRESQL_PASSWORD}
      schema: ${DB_SCHEMA_NAME_PRIMARY}
      pool-size: 20
      enabled: true
      type: SOURCE
      polling:
        enabled: true
        interval: 5000
        priority: 1

  routing:
    # Связь между primary базой данных и потоком из кафки
    incoming:
      "sofr.send-nontrading-order-answer": "primary"
      "sofr.send-nontrading-order-status-request": "primary"
      "ips.document-factory.requests": "primary"
      "sofr.get-brokerage-agreement-info-response": "primary"
      "sofr.get-legal-entity-report-response": "primary"
      "sofr.send-bill-request": "primary"
      "sofr.send-bill-deal-request": "primary"
      "sofr.send-list-of-bonds-info": "primary"
      "sofr.mq-adapter.client-info": "primary"
      "derivatives.requests.client.enriched.sofr.dlq": "primary"
      "derivatives.requests.bank.enriched.sofr.dlq": "primary"
      "derivatives.deals.client.enriched.sofr.dlq": "primary"
      "derivatives.deals.bank.enriched.sofr.dlq": "primary"
      "sofr.get-tax-report-info-response": "primary"
      "ips.orchestration.update-process.sofr": "primary"
      "sofr.send-le-brokerage-agreement-info-request": "primary"

    outgoing:
      "primary": 1
      "secondary": 2
      "reports": 3
      "archive": 99

  kafka:
    topic-bindings:
      "maks.transfer-rates.universal-json": "maks-transfer-rates-out-0"
      "sofr.get-legal-entity-report-request": "sofr-legal-entity-report-out-0"
      "sofr.send-nontrading-order-request": "sofr-nontrading-order-request-out-0"
      "sofr.send-nontrading-order-status-answer": "sofr-nontrading-order-status-out-0"
      "sinv.get-brokerage-report-info-request": "sinv-brokerage-report-out-0"
      "sofr.get-brokerage-agreement-info-request": "sofr-brokerage-agreement-out-0"
      "ips.cft.send-promissory-notes-acc-list": "ips-cft-promissory-notes-out-0"
      "dias.send-depo-corp-actions-red-info-requests": "dias-depo-corp-actions-out-0"
      "sofr.get-tax-report-info-request": "sofr-tax-report-out-0"
      "ips.orchestration.sofr.send-ba-terms-req": "ips-orchestration-ba-terms-out-0"

logging:
  level:
    org:
      springframework:
        jdbc: DEBUG
        beans: DEBUG